body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:898px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u224 {
  position:absolute;
  left:100px;
  top:124px;
  width:380px;
  height:676px;
}
#u225 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u226 {
  position:absolute;
  left:538px;
  top:80px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u228 {
  position:absolute;
  left:100px;
  top:80px;
  width:224px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:641px;
}
#u230 {
  position:absolute;
  left:538px;
  top:124px;
  width:360px;
  height:641px;
}
#u231 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
