body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2712px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u234 {
  position:absolute;
  left:100px;
  top:80px;
  width:224px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u236 {
  position:absolute;
  left:100px;
  top:124px;
  width:380px;
  height:676px;
}
#u237 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u238 {
  position:absolute;
  left:553px;
  top:124px;
  width:380px;
  height:676px;
}
#u239 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u240 {
  position:absolute;
  left:553px;
  top:80px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u242 {
  position:absolute;
  left:1000px;
  top:80px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u245 {
  position:absolute;
  left:1000px;
  top:124px;
  width:380px;
  height:676px;
}
#u246 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:34px;
}
#u247 {
  position:absolute;
  left:1053px;
  top:434px;
  width:273px;
  height:34px;
}
#u248 {
  position:absolute;
  left:2px;
  top:9px;
  width:269px;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:45px;
}
#u249 {
  position:absolute;
  left:1055px;
  top:490px;
  width:273px;
  height:45px;
}
#u250 {
  position:absolute;
  left:2px;
  top:14px;
  width:269px;
  word-wrap:break-word;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u251 {
  position:absolute;
  left:1888px;
  top:87px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u253 {
  position:absolute;
  left:2332px;
  top:87px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u255 {
  position:absolute;
  left:1888px;
  top:124px;
  width:380px;
  height:676px;
}
#u256 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u257 {
  position:absolute;
  left:2332px;
  top:124px;
  width:380px;
  height:676px;
}
#u258 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u259 {
  position:absolute;
  left:1444px;
  top:124px;
  width:380px;
  height:676px;
}
#u260 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u261 {
  position:absolute;
  left:1444px;
  top:87px;
  width:145px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
