body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:898px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u210 {
  position:absolute;
  left:100px;
  top:124px;
  width:380px;
  height:676px;
}
#u211 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u212 {
  position:absolute;
  left:538px;
  top:80px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u214 {
  position:absolute;
  left:100px;
  top:80px;
  width:199px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:641px;
}
#u216 {
  position:absolute;
  left:538px;
  top:124px;
  width:360px;
  height:641px;
}
#u217 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
