body {
  margin:0px;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u462 {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:81px;
}
#u463 {
  position:absolute;
  left:2px;
  top:32px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1061px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u464 {
  position:absolute;
  left:150px;
  top:110px;
  width:1200px;
  height:1061px;
}
#u465 {
  position:absolute;
  left:2px;
  top:522px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:1059px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u466 {
  position:absolute;
  left:151px;
  top:111px;
  width:227px;
  height:1059px;
}
#u467 {
  position:absolute;
  left:2px;
  top:522px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:64px;
}
#u468 {
  position:absolute;
  left:151px;
  top:9px;
  width:324px;
  height:64px;
}
#u469 {
  position:absolute;
  left:2px;
  top:24px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u470 {
  position:absolute;
  left:1031px;
  top:31px;
  width:169px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u471 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF3333;
}
#u472 {
  position:absolute;
  left:1224px;
  top:31px;
  width:82px;
  height:19px;
  font-size:16px;
  color:#FF3333;
}
#u473 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u474 {
  position:absolute;
  left:1317px;
  top:31px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u475 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u476 {
  position:absolute;
  left:399px;
  top:141px;
  width:937px;
  height:98px;
}
#u477 {
  position:absolute;
  left:2px;
  top:41px;
  width:933px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:935px;
  height:42px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u478 {
  position:absolute;
  left:400px;
  top:142px;
  width:935px;
  height:42px;
}
#u479 {
  position:absolute;
  left:2px;
  top:13px;
  width:931px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u480 {
  position:absolute;
  left:419px;
  top:150px;
  width:37px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u481 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u482 {
  position:absolute;
  left:419px;
  top:197px;
  width:109px;
  height:22px;
}
#u482_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u482_input:disabled {
  color:grayText;
}
#u483 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u484 {
  position:absolute;
  left:621px;
  top:194px;
  width:102px;
  height:25px;
}
#u484_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u485 {
  position:absolute;
  left:700px;
  top:197px;
  width:17px;
  height:19px;
}
#u486 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u487 {
  position:absolute;
  left:554px;
  top:200px;
  width:57px;
  height:16px;
}
#u488 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u489 {
  position:absolute;
  left:733px;
  top:199px;
  width:15px;
  height:16px;
}
#u490 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u491 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u492 {
  position:absolute;
  left:758px;
  top:195px;
  width:102px;
  height:25px;
}
#u492_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u493 {
  position:absolute;
  left:837px;
  top:198px;
  width:17px;
  height:19px;
}
#u494 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u495 {
  position:absolute;
  left:879px;
  top:194px;
  width:77px;
  height:26px;
}
#u496 {
  position:absolute;
  left:2px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:952px;
  height:845px;
}
#u497 {
  position:absolute;
  left:389px;
  top:249px;
  width:952px;
  height:845px;
}
#u498 {
  position:absolute;
  left:2px;
  top:414px;
  width:948px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u500 {
  position:absolute;
  left:182px;
  top:127px;
  width:23px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u501 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u502 {
  position:absolute;
  left:212px;
  top:129px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u503 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u504 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u505 {
  position:absolute;
  left:150px;
  top:350px;
  width:228px;
  height:43px;
}
#u506 {
  position:absolute;
  left:2px;
  top:14px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u507 {
  position:absolute;
  left:150px;
  top:350px;
  width:4px;
  height:43px;
}
#u508 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u509 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u510 {
  position:absolute;
  left:182px;
  top:232px;
  width:23px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u511 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u512 {
  position:absolute;
  left:212px;
  top:234px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u513 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u514 {
  position:absolute;
  left:212px;
  top:266px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u515 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u516 {
  position:absolute;
  left:212px;
  top:174px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u517 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:2px;
}
#u518 {
  position:absolute;
  left:150px;
  top:218px;
  width:228px;
  height:1px;
}
#u519 {
  position:absolute;
  left:2px;
  top:-8px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u520 {
  position:absolute;
  left:226px;
  top:296px;
  width:57px;
  height:16px;
}
#u521 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u522 {
  position:absolute;
  left:226px;
  top:322px;
  width:57px;
  height:16px;
}
#u523 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u524 {
  position:absolute;
  left:226px;
  top:364px;
  width:57px;
  height:16px;
}
#u525 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u526 {
  position:absolute;
  left:212px;
  top:403px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u527 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u528 {
  position:absolute;
  left:212px;
  top:432px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u529 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u530 {
  position:absolute;
  left:213px;
  top:461px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u531 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u532 {
  position:absolute;
  left:212px;
  top:490px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u533 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u534 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u535 {
  position:absolute;
  left:182px;
  top:542px;
  width:23px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u536 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u537 {
  position:absolute;
  left:212px;
  top:544px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u538 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u539 {
  position:absolute;
  left:212px;
  top:576px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u540 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:2px;
}
#u541 {
  position:absolute;
  left:150px;
  top:528px;
  width:228px;
  height:1px;
}
#u542 {
  position:absolute;
  left:2px;
  top:-8px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u543 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u544 {
  position:absolute;
  left:183px;
  top:628px;
  width:23px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u545 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u546 {
  position:absolute;
  left:213px;
  top:630px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u547 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u548 {
  position:absolute;
  left:213px;
  top:662px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u549 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u550 {
  position:absolute;
  left:213px;
  top:691px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u551 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:2px;
}
#u552 {
  position:absolute;
  left:151px;
  top:614px;
  width:228px;
  height:1px;
}
#u553 {
  position:absolute;
  left:2px;
  top:-8px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
