body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:734px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1312 {
  position:absolute;
  left:101px;
  top:100px;
  width:360px;
  height:640px;
}
#u1313 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1314 {
  position:absolute;
  left:101px;
  top:100px;
  width:360px;
  height:640px;
  opacity:0.3;
}
#u1315 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:81px;
}
#u1316 {
  position:absolute;
  left:100px;
  top:100px;
  width:363px;
  height:81px;
}
#u1317 {
  position:absolute;
  left:2px;
  top:32px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1318 {
  position:absolute;
  left:116px;
  top:110px;
  width:60px;
  height:60px;
}
#u1319 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u1320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1320 {
  position:absolute;
  left:186px;
  top:115px;
  width:177px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1321 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u1322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1322 {
  position:absolute;
  left:378px;
  top:127px;
  width:72px;
  height:27px;
}
#u1323 {
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1324 {
  position:absolute;
  left:186px;
  top:147px;
  width:183px;
  height:16px;
  color:#FFFFFF;
}
#u1325 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u1326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:81px;
}
#u1326 {
  position:absolute;
  left:101px;
  top:189px;
  width:360px;
  height:81px;
}
#u1327 {
  position:absolute;
  left:2px;
  top:32px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1328 {
  position:absolute;
  left:117px;
  top:199px;
  width:60px;
  height:60px;
}
#u1329 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u1330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1330 {
  position:absolute;
  left:187px;
  top:204px;
  width:131px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1331 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u1332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1332 {
  position:absolute;
  left:379px;
  top:216px;
  width:72px;
  height:27px;
}
#u1333 {
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u1334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1334 {
  position:absolute;
  left:187px;
  top:233px;
  width:26px;
  height:26px;
}
#u1335 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1336 {
  position:absolute;
  left:217px;
  top:233px;
  width:26px;
  height:26px;
}
#u1337 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1338 {
  position:absolute;
  left:246px;
  top:233px;
  width:26px;
  height:26px;
}
#u1339 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1340 {
  position:absolute;
  left:276px;
  top:233px;
  width:26px;
  height:26px;
}
#u1341 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1342 {
  position:absolute;
  left:306px;
  top:237px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1343 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:81px;
}
#u1344 {
  position:absolute;
  left:100px;
  top:279px;
  width:361px;
  height:81px;
}
#u1345 {
  position:absolute;
  left:2px;
  top:32px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1346 {
  position:absolute;
  left:116px;
  top:289px;
  width:60px;
  height:60px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u1348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1348 {
  position:absolute;
  left:186px;
  top:294px;
  width:180px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1349 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u1350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1350 {
  position:absolute;
  left:378px;
  top:306px;
  width:72px;
  height:27px;
}
#u1351 {
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u1352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1352 {
  position:absolute;
  left:186px;
  top:323px;
  width:127px;
  height:16px;
  color:#FFFFFF;
}
#u1353 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:81px;
}
#u1354 {
  position:absolute;
  left:100px;
  top:367px;
  width:361px;
  height:81px;
}
#u1355 {
  position:absolute;
  left:2px;
  top:32px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1356 {
  position:absolute;
  left:116px;
  top:377px;
  width:60px;
  height:60px;
}
#u1357 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u1358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1358 {
  position:absolute;
  left:186px;
  top:382px;
  width:205px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1359 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u1360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1360 {
  position:absolute;
  left:186px;
  top:411px;
  width:251px;
  height:16px;
  color:#FFFFFF;
}
#u1361 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u1362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1362 {
  position:absolute;
  left:495px;
  top:115px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u1363 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1364 {
  position:absolute;
  left:495px;
  top:204px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u1365 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1366 {
  position:absolute;
  left:495px;
  top:289px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u1367 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1368 {
  position:absolute;
  left:495px;
  top:382px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u1369 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1370 {
  position:absolute;
  left:495px;
  top:144px;
  width:219px;
  height:32px;
}
#u1371 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u1372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1372 {
  position:absolute;
  left:495px;
  top:233px;
  width:239px;
  height:32px;
}
#u1373 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u1374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1374 {
  position:absolute;
  left:495px;
  top:315px;
  width:155px;
  height:32px;
}
#u1375 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u1376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1376 {
  position:absolute;
  left:495px;
  top:411px;
  width:141px;
  height:32px;
}
#u1377 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
