body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2252px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u0 {
  position:absolute;
  left:100px;
  top:1000px;
  width:375px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  white-space:nowrap;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u2 {
  position:absolute;
  left:540px;
  top:1000px;
  width:170px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u4 {
  position:absolute;
  left:100px;
  top:2078px;
  width:189px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u7 {
  position:absolute;
  left:100px;
  top:80px;
  width:70px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u9 {
  position:absolute;
  left:100px;
  top:118px;
  width:380px;
  height:676px;
}
#u10 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u11 {
  position:absolute;
  left:100px;
  top:2958px;
  width:294px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u13 {
  position:absolute;
  left:100px;
  top:1037px;
  width:380px;
  height:676px;
}
#u14 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u15 {
  position:absolute;
  left:540px;
  top:1037px;
  width:380px;
  height:676px;
}
#u16 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u17 {
  position:absolute;
  left:980px;
  top:1037px;
  width:380px;
  height:676px;
}
#u18 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u19 {
  position:absolute;
  left:980px;
  top:1000px;
  width:368px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  white-space:nowrap;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u21 {
  position:absolute;
  left:100px;
  top:2115px;
  width:380px;
  height:676px;
}
#u22 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u24 {
  position:absolute;
  left:1426px;
  top:1037px;
  width:380px;
  height:676px;
}
#u25 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u26 {
  position:absolute;
  left:1426px;
  top:1000px;
  width:170px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u29 {
  position:absolute;
  left:986px;
  top:2115px;
  width:380px;
  height:676px;
}
#u30 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u31 {
  position:absolute;
  left:986px;
  top:2078px;
  width:170px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u33 {
  position:absolute;
  left:540px;
  top:2115px;
  width:380px;
  height:676px;
}
#u34 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u35 {
  position:absolute;
  left:540px;
  top:2078px;
  width:116px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u37 {
  position:absolute;
  left:100px;
  top:4745px;
  width:188px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u39 {
  position:absolute;
  left:540px;
  top:4745px;
  width:170px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u41 {
  position:absolute;
  left:980px;
  top:4745px;
  width:134px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u43 {
  position:absolute;
  left:100px;
  top:5642px;
  width:206px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u45 {
  position:absolute;
  left:100px;
  top:6600px;
  width:98px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u47 {
  position:absolute;
  left:100px;
  top:4782px;
  width:380px;
  height:676px;
}
#u48 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u49 {
  position:absolute;
  left:540px;
  top:4782px;
  width:380px;
  height:676px;
}
#u50 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:680px;
}
#u51 {
  position:absolute;
  left:980px;
  top:4782px;
  width:380px;
  height:680px;
}
#u52 {
  position:absolute;
  left:2px;
  top:332px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u53 {
  position:absolute;
  left:100px;
  top:5674px;
  width:380px;
  height:676px;
}
#u54 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u55 {
  position:absolute;
  left:540px;
  top:5674px;
  width:380px;
  height:676px;
}
#u56 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u57 {
  position:absolute;
  left:540px;
  top:5642px;
  width:116px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u59 {
  position:absolute;
  left:100px;
  top:6637px;
  width:380px;
  height:676px;
}
#u60 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u61 {
  position:absolute;
  left:100px;
  top:2995px;
  width:380px;
  height:676px;
}
#u62 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u64 {
  position:absolute;
  left:100px;
  top:3905px;
  width:380px;
  height:676px;
}
#u65 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u66 {
  position:absolute;
  left:100px;
  top:3868px;
  width:98px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u69 {
  position:absolute;
  left:986px;
  top:2995px;
  width:380px;
  height:676px;
}
#u70 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u71 {
  position:absolute;
  left:986px;
  top:2958px;
  width:170px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u73 {
  position:absolute;
  left:540px;
  top:2995px;
  width:380px;
  height:676px;
}
#u74 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u75 {
  position:absolute;
  left:540px;
  top:2958px;
  width:116px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:96px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u77 {
  position:absolute;
  left:100px;
  top:817px;
  width:380px;
  height:96px;
}
#u78 {
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:89px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u79 {
  position:absolute;
  left:540px;
  top:1723px;
  width:380px;
  height:89px;
}
#u80 {
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:304px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u81 {
  position:absolute;
  left:980px;
  top:1723px;
  width:380px;
  height:304px;
}
#u82 {
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:77px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u83 {
  position:absolute;
  left:1426px;
  top:1723px;
  width:380px;
  height:77px;
}
#u84 {
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:89px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u85 {
  position:absolute;
  left:100px;
  top:2801px;
  width:380px;
  height:89px;
}
#u86 {
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:89px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u87 {
  position:absolute;
  left:540px;
  top:4591px;
  width:380px;
  height:89px;
}
#u88 {
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:77px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u89 {
  position:absolute;
  left:986px;
  top:4591px;
  width:380px;
  height:77px;
}
#u90 {
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:89px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u91 {
  position:absolute;
  left:100px;
  top:4591px;
  width:380px;
  height:89px;
}
#u92 {
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u94 {
  position:absolute;
  left:986px;
  top:3905px;
  width:380px;
  height:676px;
}
#u95 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u96 {
  position:absolute;
  left:986px;
  top:3868px;
  width:170px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u98 {
  position:absolute;
  left:540px;
  top:3905px;
  width:380px;
  height:676px;
}
#u99 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u100 {
  position:absolute;
  left:540px;
  top:3868px;
  width:116px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:89px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u102 {
  position:absolute;
  left:540px;
  top:3681px;
  width:380px;
  height:89px;
}
#u103 {
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:77px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u104 {
  position:absolute;
  left:986px;
  top:3681px;
  width:380px;
  height:77px;
}
#u105 {
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:89px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u106 {
  position:absolute;
  left:1426px;
  top:5468px;
  width:380px;
  height:89px;
}
#u107 {
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:77px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u108 {
  position:absolute;
  left:1872px;
  top:5468px;
  width:380px;
  height:77px;
}
#u109 {
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u111 {
  position:absolute;
  left:1872px;
  top:4782px;
  width:380px;
  height:676px;
}
#u112 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u113 {
  position:absolute;
  left:1872px;
  top:4745px;
  width:170px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u115 {
  position:absolute;
  left:1426px;
  top:4782px;
  width:380px;
  height:676px;
}
#u116 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u117 {
  position:absolute;
  left:1426px;
  top:4745px;
  width:116px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:89px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u119 {
  position:absolute;
  left:540px;
  top:5468px;
  width:380px;
  height:89px;
}
#u120 {
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:89px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u121 {
  position:absolute;
  left:100px;
  top:7323px;
  width:380px;
  height:89px;
}
#u122 {
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:89px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u123 {
  position:absolute;
  left:100px;
  top:6360px;
  width:380px;
  height:89px;
}
#u124 {
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
