body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2251px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u0 {
  position:absolute;
  left:100px;
  top:837px;
  width:366px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  white-space:nowrap;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u2 {
  position:absolute;
  left:540px;
  top:837px;
  width:145px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u4 {
  position:absolute;
  left:100px;
  top:1630px;
  width:189px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u6 {
  position:absolute;
  left:100px;
  top:80px;
  width:88px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u8 {
  position:absolute;
  left:100px;
  top:2423px;
  width:284px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  white-space:nowrap;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u10 {
  position:absolute;
  left:100px;
  top:874px;
  width:380px;
  height:676px;
}
#u11 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u12 {
  position:absolute;
  left:540px;
  top:874px;
  width:380px;
  height:676px;
}
#u13 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u14 {
  position:absolute;
  left:980px;
  top:874px;
  width:380px;
  height:676px;
}
#u15 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u16 {
  position:absolute;
  left:980px;
  top:837px;
  width:343px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u18 {
  position:absolute;
  left:100px;
  top:1667px;
  width:380px;
  height:676px;
}
#u19 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u21 {
  position:absolute;
  left:1426px;
  top:874px;
  width:380px;
  height:676px;
}
#u22 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u23 {
  position:absolute;
  left:1426px;
  top:837px;
  width:145px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u26 {
  position:absolute;
  left:986px;
  top:1667px;
  width:380px;
  height:676px;
}
#u27 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u28 {
  position:absolute;
  left:986px;
  top:1630px;
  width:145px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u30 {
  position:absolute;
  left:540px;
  top:1667px;
  width:380px;
  height:676px;
}
#u31 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u32 {
  position:absolute;
  left:540px;
  top:1630px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u34 {
  position:absolute;
  left:100px;
  top:3216px;
  width:178px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u36 {
  position:absolute;
  left:540px;
  top:3216px;
  width:145px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u38 {
  position:absolute;
  left:980px;
  top:3216px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u40 {
  position:absolute;
  left:100px;
  top:4009px;
  width:196px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u42 {
  position:absolute;
  left:100px;
  top:4802px;
  width:88px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u44 {
  position:absolute;
  left:100px;
  top:3253px;
  width:380px;
  height:676px;
}
#u45 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u46 {
  position:absolute;
  left:540px;
  top:3253px;
  width:380px;
  height:676px;
}
#u47 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:680px;
}
#u48 {
  position:absolute;
  left:980px;
  top:3253px;
  width:380px;
  height:680px;
}
#u49 {
  position:absolute;
  left:2px;
  top:332px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u51 {
  position:absolute;
  left:1426px;
  top:3257px;
  width:380px;
  height:676px;
}
#u52 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u53 {
  position:absolute;
  left:1426px;
  top:3220px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u56 {
  position:absolute;
  left:1871px;
  top:3253px;
  width:380px;
  height:676px;
}
#u57 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u58 {
  position:absolute;
  left:1871px;
  top:3216px;
  width:145px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u60 {
  position:absolute;
  left:100px;
  top:4041px;
  width:380px;
  height:676px;
}
#u61 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u62 {
  position:absolute;
  left:540px;
  top:4041px;
  width:380px;
  height:676px;
}
#u63 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u64 {
  position:absolute;
  left:540px;
  top:4009px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u66 {
  position:absolute;
  left:100px;
  top:4839px;
  width:380px;
  height:676px;
}
#u67 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u68 {
  position:absolute;
  left:100px;
  top:2460px;
  width:380px;
  height:676px;
}
#u69 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u71 {
  position:absolute;
  left:540px;
  top:2460px;
  width:380px;
  height:676px;
}
#u72 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u73 {
  position:absolute;
  left:540px;
  top:2423px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u76 {
  position:absolute;
  left:1426px;
  top:2460px;
  width:380px;
  height:676px;
}
#u77 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u78 {
  position:absolute;
  left:1426px;
  top:2423px;
  width:145px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u80 {
  position:absolute;
  left:980px;
  top:2460px;
  width:380px;
  height:676px;
}
#u81 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u82 {
  position:absolute;
  left:980px;
  top:2423px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u84 {
  position:absolute;
  left:100px;
  top:118px;
  width:380px;
  height:676px;
}
#u85 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
