body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u0 {
  position:absolute;
  left:100px;
  top:874px;
  width:380px;
  height:676px;
}
#u1 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u3 {
  position:absolute;
  left:100px;
  top:4839px;
  width:380px;
  height:676px;
}
#u4 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u5 {
  position:absolute;
  left:100px;
  top:4802px;
  width:181px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u8 {
  position:absolute;
  left:540px;
  top:4839px;
  width:380px;
  height:676px;
}
#u9 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u10 {
  position:absolute;
  left:540px;
  top:4802px;
  width:217px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u13 {
  position:absolute;
  left:979px;
  top:4839px;
  width:380px;
  height:676px;
}
#u14 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u15 {
  position:absolute;
  left:979px;
  top:4802px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u17 {
  position:absolute;
  left:1420px;
  top:1667px;
  width:380px;
  height:676px;
}
#u18 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u19 {
  position:absolute;
  left:980px;
  top:1667px;
  width:380px;
  height:676px;
}
#u20 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u21 {
  position:absolute;
  left:540px;
  top:1667px;
  width:380px;
  height:676px;
}
#u22 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u23 {
  position:absolute;
  left:540px;
  top:874px;
  width:380px;
  height:676px;
}
#u24 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u25 {
  position:absolute;
  left:100px;
  top:837px;
  width:246px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  white-space:nowrap;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u27 {
  position:absolute;
  left:540px;
  top:837px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u29 {
  position:absolute;
  left:100px;
  top:1667px;
  width:380px;
  height:676px;
}
#u30 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u31 {
  position:absolute;
  left:100px;
  top:1630px;
  width:282px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  white-space:nowrap;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u33 {
  position:absolute;
  left:540px;
  top:1630px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u35 {
  position:absolute;
  left:980px;
  top:1630px;
  width:181px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u37 {
  position:absolute;
  left:549px;
  top:3663px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u39 {
  position:absolute;
  left:100px;
  top:80px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u41 {
  position:absolute;
  left:540px;
  top:2460px;
  width:380px;
  height:676px;
}
#u42 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u43 {
  position:absolute;
  left:1420px;
  top:1630px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u45 {
  position:absolute;
  left:100px;
  top:117px;
  width:380px;
  height:676px;
}
#u46 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:675px;
}
#u47 {
  position:absolute;
  left:979px;
  top:2460px;
  width:380px;
  height:675px;
}
#u48 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:675px;
}
#u49 {
  position:absolute;
  left:100px;
  top:2460px;
  width:380px;
  height:675px;
}
#u50 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u51 {
  position:absolute;
  left:100px;
  top:2423px;
  width:163px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u53 {
  position:absolute;
  left:1420px;
  top:2460px;
  width:380px;
  height:676px;
}
#u54 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u55 {
  position:absolute;
  left:540px;
  top:2423px;
  width:145px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u57 {
  position:absolute;
  left:980px;
  top:2423px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u59 {
  position:absolute;
  left:1420px;
  top:2423px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u61 {
  position:absolute;
  left:540px;
  top:4046px;
  width:380px;
  height:676px;
}
#u62 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u63 {
  position:absolute;
  left:100px;
  top:3253px;
  width:380px;
  height:676px;
}
#u64 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u65 {
  position:absolute;
  left:100px;
  top:3216px;
  width:264px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u68 {
  position:absolute;
  left:540px;
  top:3253px;
  width:380px;
  height:676px;
}
#u69 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u70 {
  position:absolute;
  left:540px;
  top:3216px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u72 {
  position:absolute;
  left:100px;
  top:4046px;
  width:380px;
  height:676px;
}
#u73 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u74 {
  position:absolute;
  left:100px;
  top:4009px;
  width:282px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  white-space:nowrap;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u76 {
  position:absolute;
  left:540px;
  top:4009px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u79 {
  position:absolute;
  left:979px;
  top:4046px;
  width:380px;
  height:676px;
}
#u80 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u81 {
  position:absolute;
  left:979px;
  top:4009px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
