body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1940 {
  position:absolute;
  left:190px;
  top:125px;
  width:895px;
  height:406px;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1942 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u1943 {
  position:absolute;
  left:87px;
  top:0px;
  width:93px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1944 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:36px;
}
#u1945 {
  position:absolute;
  left:180px;
  top:0px;
  width:298px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1946 {
  position:absolute;
  left:2px;
  top:10px;
  width:294px;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u1947 {
  position:absolute;
  left:478px;
  top:0px;
  width:104px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1948 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u1949 {
  position:absolute;
  left:582px;
  top:0px;
  width:119px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1950 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u1951 {
  position:absolute;
  left:701px;
  top:0px;
  width:189px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1952 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:41px;
}
#u1953 {
  position:absolute;
  left:0px;
  top:36px;
  width:87px;
  height:41px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:41px;
}
#u1955 {
  position:absolute;
  left:87px;
  top:36px;
  width:93px;
  height:41px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:41px;
}
#u1957 {
  position:absolute;
  left:180px;
  top:36px;
  width:298px;
  height:41px;
  text-align:left;
}
#u1958 {
  position:absolute;
  left:2px;
  top:12px;
  width:294px;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:41px;
}
#u1959 {
  position:absolute;
  left:478px;
  top:36px;
  width:104px;
  height:41px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:41px;
}
#u1961 {
  position:absolute;
  left:582px;
  top:36px;
  width:119px;
  height:41px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:41px;
}
#u1963 {
  position:absolute;
  left:701px;
  top:36px;
  width:189px;
  height:41px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:12px;
  width:185px;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u1965 {
  position:absolute;
  left:0px;
  top:77px;
  width:87px;
  height:36px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u1967 {
  position:absolute;
  left:87px;
  top:77px;
  width:93px;
  height:36px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:36px;
}
#u1969 {
  position:absolute;
  left:180px;
  top:77px;
  width:298px;
  height:36px;
  text-align:left;
}
#u1970 {
  position:absolute;
  left:2px;
  top:10px;
  width:294px;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u1971 {
  position:absolute;
  left:478px;
  top:77px;
  width:104px;
  height:36px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u1973 {
  position:absolute;
  left:582px;
  top:77px;
  width:119px;
  height:36px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u1975 {
  position:absolute;
  left:701px;
  top:77px;
  width:189px;
  height:36px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u1977 {
  position:absolute;
  left:0px;
  top:113px;
  width:87px;
  height:36px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u1979 {
  position:absolute;
  left:87px;
  top:113px;
  width:93px;
  height:36px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:36px;
}
#u1981 {
  position:absolute;
  left:180px;
  top:113px;
  width:298px;
  height:36px;
  text-align:left;
}
#u1982 {
  position:absolute;
  left:2px;
  top:10px;
  width:294px;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u1983 {
  position:absolute;
  left:478px;
  top:113px;
  width:104px;
  height:36px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u1985 {
  position:absolute;
  left:582px;
  top:113px;
  width:119px;
  height:36px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u1987 {
  position:absolute;
  left:701px;
  top:113px;
  width:189px;
  height:36px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u1989 {
  position:absolute;
  left:0px;
  top:149px;
  width:87px;
  height:36px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u1991 {
  position:absolute;
  left:87px;
  top:149px;
  width:93px;
  height:36px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:36px;
}
#u1993 {
  position:absolute;
  left:180px;
  top:149px;
  width:298px;
  height:36px;
  text-align:left;
}
#u1994 {
  position:absolute;
  left:2px;
  top:10px;
  width:294px;
  word-wrap:break-word;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u1995 {
  position:absolute;
  left:478px;
  top:149px;
  width:104px;
  height:36px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u1997 {
  position:absolute;
  left:582px;
  top:149px;
  width:119px;
  height:36px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u1999 {
  position:absolute;
  left:701px;
  top:149px;
  width:189px;
  height:36px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u2001 {
  position:absolute;
  left:0px;
  top:185px;
  width:87px;
  height:36px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u2003 {
  position:absolute;
  left:87px;
  top:185px;
  width:93px;
  height:36px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:36px;
}
#u2005 {
  position:absolute;
  left:180px;
  top:185px;
  width:298px;
  height:36px;
  text-align:left;
}
#u2006 {
  position:absolute;
  left:2px;
  top:10px;
  width:294px;
  word-wrap:break-word;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u2007 {
  position:absolute;
  left:478px;
  top:185px;
  width:104px;
  height:36px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u2009 {
  position:absolute;
  left:582px;
  top:185px;
  width:119px;
  height:36px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u2011 {
  position:absolute;
  left:701px;
  top:185px;
  width:189px;
  height:36px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u2013 {
  position:absolute;
  left:0px;
  top:221px;
  width:87px;
  height:36px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u2015 {
  position:absolute;
  left:87px;
  top:221px;
  width:93px;
  height:36px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:36px;
}
#u2017 {
  position:absolute;
  left:180px;
  top:221px;
  width:298px;
  height:36px;
  text-align:left;
}
#u2018 {
  position:absolute;
  left:2px;
  top:10px;
  width:294px;
  word-wrap:break-word;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u2019 {
  position:absolute;
  left:478px;
  top:221px;
  width:104px;
  height:36px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u2021 {
  position:absolute;
  left:582px;
  top:221px;
  width:119px;
  height:36px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u2023 {
  position:absolute;
  left:701px;
  top:221px;
  width:189px;
  height:36px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u2025 {
  position:absolute;
  left:0px;
  top:257px;
  width:87px;
  height:36px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u2027 {
  position:absolute;
  left:87px;
  top:257px;
  width:93px;
  height:36px;
}
#u2028 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:36px;
}
#u2029 {
  position:absolute;
  left:180px;
  top:257px;
  width:298px;
  height:36px;
  text-align:left;
}
#u2030 {
  position:absolute;
  left:2px;
  top:10px;
  width:294px;
  word-wrap:break-word;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u2031 {
  position:absolute;
  left:478px;
  top:257px;
  width:104px;
  height:36px;
}
#u2032 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u2033 {
  position:absolute;
  left:582px;
  top:257px;
  width:119px;
  height:36px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u2035 {
  position:absolute;
  left:701px;
  top:257px;
  width:189px;
  height:36px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u2037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u2037 {
  position:absolute;
  left:0px;
  top:293px;
  width:87px;
  height:36px;
}
#u2038 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u2039 {
  position:absolute;
  left:87px;
  top:293px;
  width:93px;
  height:36px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:36px;
}
#u2041 {
  position:absolute;
  left:180px;
  top:293px;
  width:298px;
  height:36px;
  text-align:left;
}
#u2042 {
  position:absolute;
  left:2px;
  top:10px;
  width:294px;
  word-wrap:break-word;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u2043 {
  position:absolute;
  left:478px;
  top:293px;
  width:104px;
  height:36px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u2045 {
  position:absolute;
  left:582px;
  top:293px;
  width:119px;
  height:36px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u2047 {
  position:absolute;
  left:701px;
  top:293px;
  width:189px;
  height:36px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u2049 {
  position:absolute;
  left:0px;
  top:329px;
  width:87px;
  height:36px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u2051 {
  position:absolute;
  left:87px;
  top:329px;
  width:93px;
  height:36px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:36px;
}
#u2053 {
  position:absolute;
  left:180px;
  top:329px;
  width:298px;
  height:36px;
  text-align:left;
}
#u2054 {
  position:absolute;
  left:2px;
  top:10px;
  width:294px;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u2055 {
  position:absolute;
  left:478px;
  top:329px;
  width:104px;
  height:36px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u2057 {
  position:absolute;
  left:582px;
  top:329px;
  width:119px;
  height:36px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u2059 {
  position:absolute;
  left:701px;
  top:329px;
  width:189px;
  height:36px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u2061 {
  position:absolute;
  left:0px;
  top:365px;
  width:87px;
  height:36px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u2063 {
  position:absolute;
  left:87px;
  top:365px;
  width:93px;
  height:36px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:36px;
}
#u2065 {
  position:absolute;
  left:180px;
  top:365px;
  width:298px;
  height:36px;
  text-align:left;
}
#u2066 {
  position:absolute;
  left:2px;
  top:10px;
  width:294px;
  word-wrap:break-word;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u2067 {
  position:absolute;
  left:478px;
  top:365px;
  width:104px;
  height:36px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u2069 {
  position:absolute;
  left:582px;
  top:365px;
  width:119px;
  height:36px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u2071 {
  position:absolute;
  left:701px;
  top:365px;
  width:189px;
  height:36px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u2073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2073 {
  position:absolute;
  left:383px;
  top:555px;
  width:89px;
  height:16px;
}
#u2074 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2075 {
  position:absolute;
  left:856px;
  top:555px;
  width:53px;
  height:16px;
}
#u2076 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2077 {
  position:absolute;
  left:919px;
  top:555px;
  width:57px;
  height:16px;
}
#u2078 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2079 {
  position:absolute;
  left:986px;
  top:551px;
  width:41px;
  height:24px;
}
#u2079_input {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2080 {
  position:absolute;
  left:1037px;
  top:555px;
  width:43px;
  height:16px;
}
#u2081 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2082 {
  position:absolute;
  left:550px;
  top:551px;
  width:24px;
  height:24px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2084 {
  position:absolute;
  left:584px;
  top:551px;
  width:24px;
  height:24px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u2086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2086 {
  position:absolute;
  left:618px;
  top:551px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u2087 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2088 {
  position:absolute;
  left:652px;
  top:551px;
  width:24px;
  height:24px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2090 {
  position:absolute;
  left:686px;
  top:551px;
  width:24px;
  height:24px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2092 {
  position:absolute;
  left:720px;
  top:551px;
  width:24px;
  height:24px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u2094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2094 {
  position:absolute;
  left:754px;
  top:551px;
  width:24px;
  height:24px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2096 {
  position:absolute;
  left:482px;
  top:551px;
  width:58px;
  height:24px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2098 {
  position:absolute;
  left:788px;
  top:551px;
  width:58px;
  height:24px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2100 {
  position:absolute;
  left:190px;
  top:94px;
  width:57px;
  height:16px;
}
#u2101 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2102 {
  position:absolute;
  left:262px;
  top:90px;
  width:217px;
  height:25px;
}
#u2102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2103 {
  position:absolute;
  left:489px;
  top:90px;
  width:58px;
  height:25px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u2105 {
  position:absolute;
  left:217px;
  top:555px;
  width:49px;
  height:16px;
}
#u2106 {
  position:absolute;
  left:16px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u2105_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2107 {
  position:absolute;
  left:216px;
  top:177px;
  width:21px;
  height:16px;
}
#u2108 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2107_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2109 {
  position:absolute;
  left:216px;
  top:214px;
  width:21px;
  height:16px;
}
#u2110 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2109_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2111 {
  position:absolute;
  left:216px;
  top:248px;
  width:21px;
  height:16px;
}
#u2112 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2113 {
  position:absolute;
  left:216px;
  top:282px;
  width:21px;
  height:16px;
}
#u2114 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2115 {
  position:absolute;
  left:216px;
  top:319px;
  width:21px;
  height:16px;
}
#u2116 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2117 {
  position:absolute;
  left:216px;
  top:353px;
  width:21px;
  height:16px;
}
#u2118 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2119 {
  position:absolute;
  left:216px;
  top:393px;
  width:21px;
  height:16px;
}
#u2120 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2121 {
  position:absolute;
  left:216px;
  top:430px;
  width:21px;
  height:16px;
}
#u2122 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2123 {
  position:absolute;
  left:216px;
  top:464px;
  width:21px;
  height:16px;
}
#u2124 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2125 {
  position:absolute;
  left:216px;
  top:499px;
  width:21px;
  height:16px;
}
#u2126 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2127 {
  position:absolute;
  left:276px;
  top:551px;
  width:80px;
  height:24px;
  color:#FFFFFF;
}
#u2128 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u2129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:262px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2129 {
  position:absolute;
  left:395px;
  top:658px;
  width:481px;
  height:262px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:123px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2131 {
  position:absolute;
  left:463px;
  top:769px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2132 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2133 {
  position:absolute;
  left:480px;
  top:795px;
  width:40px;
  height:16px;
}
#u2134 {
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u2133_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2135 {
  position:absolute;
  left:539px;
  top:795px;
  width:90px;
  height:16px;
}
#u2136 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u2135_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2137 {
  position:absolute;
  left:570px;
  top:853px;
  width:140px;
  height:33px;
  color:#FFFFFF;
}
#u2138 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u2139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2139 {
  position:absolute;
  left:463px;
  top:731px;
  width:109px;
  height:16px;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2141 {
  position:absolute;
  left:445px;
  top:676px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2142 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2143 {
  position:absolute;
  left:835px;
  top:671px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u2144 {
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  word-wrap:break-word;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:775px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2146 {
  position:absolute;
  left:190px;
  top:1000px;
  width:890px;
  height:775px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:380px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2148 {
  position:absolute;
  left:1036px;
  top:1014px;
  width:30px;
  height:30px;
  font-size:18px;
  color:#FFFFFF;
}
#u2149 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2150 {
  position:absolute;
  left:216px;
  top:1018px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2151 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2152 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2153 {
  position:absolute;
  left:253px;
  top:1313px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2154 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2155 {
  position:absolute;
  left:268px;
  top:1339px;
  width:300px;
  height:25px;
}
#u2155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2157 {
  position:absolute;
  left:268px;
  top:1132px;
  width:212px;
  height:134px;
}
#u2157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:134px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2158 {
  position:absolute;
  left:268px;
  top:1107px;
  width:212px;
  height:25px;
}
#u2158_input {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2159 {
  position:absolute;
  left:500px;
  top:1112px;
  width:71px;
  height:16px;
}
#u2160 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2161 {
  position:absolute;
  left:500px;
  top:1132px;
  width:254px;
  height:134px;
}
#u2162 {
  position:absolute;
  left:2px;
  top:59px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163 {
  position:absolute;
  left:268px;
  top:1276px;
  width:100px;
  height:16px;
}
#u2164 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2163_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2165 {
  position:absolute;
  left:512px;
  top:1138px;
  width:206px;
  height:64px;
}
#u2166 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2167 {
  position:absolute;
  left:718px;
  top:1138px;
  width:29px;
  height:64px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2168 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u2169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2169 {
  position:absolute;
  left:253px;
  top:1081px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2170 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2171 {
  position:absolute;
  left:253px;
  top:1700px;
  width:114px;
  height:32px;
  color:#FFFFFF;
}
#u2172 {
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u2173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2173 {
  position:absolute;
  left:253px;
  top:1393px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2174 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2175 {
  position:absolute;
  left:268px;
  top:1425px;
  width:400px;
  height:134px;
}
#u2175_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:134px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2176 {
  position:absolute;
  left:703px;
  top:1528px;
  width:109px;
  height:31px;
}
#u2177 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2178 {
  position:absolute;
  left:701px;
  top:1488px;
  width:113px;
  height:16px;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2180 {
  position:absolute;
  left:701px;
  top:1462px;
  width:105px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2181 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u2182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2182 {
  position:absolute;
  left:253px;
  top:1614px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2183 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2184 {
  position:absolute;
  left:268px;
  top:1649px;
  width:74px;
  height:16px;
}
#u2185 {
  position:absolute;
  left:16px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u2184_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2186 {
  position:absolute;
  left:358px;
  top:1649px;
  width:97px;
  height:16px;
}
#u2187 {
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u2186_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2188 {
  position:absolute;
  left:268px;
  top:1567px;
  width:63px;
  height:24px;
}
#u2189 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u2190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2190 {
  position:absolute;
  left:341px;
  top:1571px;
  width:183px;
  height:16px;
  color:#999999;
}
#u2191 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
