body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5814 {
  position:absolute;
  left:217px;
  top:116px;
  width:93px;
  height:35px;
}
#u5815 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5816 {
  position:absolute;
  left:217px;
  top:150px;
  width:462px;
  height:89px;
}
#u5817 {
  position:absolute;
  left:2px;
  top:36px;
  width:458px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5818 {
  position:absolute;
  left:190px;
  top:90px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5819 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5820 {
  position:absolute;
  left:226px;
  top:124px;
  width:78px;
  height:16px;
}
#u5821 {
  position:absolute;
  left:16px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u5820_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5822 {
  position:absolute;
  left:325px;
  top:124px;
  width:78px;
  height:16px;
}
#u5823 {
  position:absolute;
  left:16px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u5822_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5824 {
  position:absolute;
  left:233px;
  top:167px;
  width:78px;
  height:16px;
}
#u5825 {
  position:absolute;
  left:16px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u5824_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5826 {
  position:absolute;
  left:233px;
  top:199px;
  width:106px;
  height:16px;
}
#u5827 {
  position:absolute;
  left:16px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u5826_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5828 {
  position:absolute;
  left:339px;
  top:195px;
  width:47px;
  height:25px;
}
#u5828_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5829 {
  position:absolute;
  left:396px;
  top:199px;
  width:71px;
  height:16px;
}
#u5830 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5831 {
  position:absolute;
  left:477px;
  top:199px;
  width:191px;
  height:16px;
  color:#999999;
}
#u5832 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u5833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:2px;
}
#u5833 {
  position:absolute;
  left:218px;
  top:150px;
  width:92px;
  height:1px;
  color:#FFFFFF;
}
#u5834 {
  position:absolute;
  left:2px;
  top:-8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5835 {
  position:absolute;
  left:190px;
  top:266px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5836 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5837 {
  position:absolute;
  left:217px;
  top:300px;
  width:78px;
  height:16px;
}
#u5838 {
  position:absolute;
  left:16px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u5837_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5839 {
  position:absolute;
  left:313px;
  top:300px;
  width:78px;
  height:16px;
}
#u5840 {
  position:absolute;
  left:16px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u5839_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:2px;
}
#u5841 {
  position:absolute;
  left:306px;
  top:326px;
  width:92px;
  height:1px;
  color:#FFFFFF;
}
#u5842 {
  position:absolute;
  left:2px;
  top:-8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5843 {
  position:absolute;
  left:443px;
  top:120px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u5844 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u5845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5845 {
  position:absolute;
  left:391px;
  top:296px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u5846 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u5847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1311px;
  height:2px;
}
#u5847 {
  position:absolute;
  left:190px;
  top:352px;
  width:1310px;
  height:1px;
}
#u5848 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5849 {
  position:absolute;
  left:190px;
  top:394px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5850 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5851 {
  position:absolute;
  left:287px;
  top:427px;
  width:65px;
  height:25px;
}
#u5851_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5852 {
  position:absolute;
  left:492px;
  top:428px;
  width:75px;
  height:25px;
}
#u5852_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5853 {
  position:absolute;
  left:205px;
  top:431px;
  width:71px;
  height:16px;
}
#u5854 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5855 {
  position:absolute;
  left:362px;
  top:432px;
  width:120px;
  height:16px;
}
#u5856 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u5857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u5857 {
  position:absolute;
  left:585px;
  top:430px;
  width:22px;
  height:20px;
  font-size:36px;
}
#u5858 {
  position:absolute;
  left:0px;
  top:-11px;
  width:22px;
  white-space:nowrap;
}
#u5859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u5859 {
  position:absolute;
  left:585px;
  top:472px;
  width:22px;
  height:20px;
  font-size:36px;
}
#u5860 {
  position:absolute;
  left:0px;
  top:-11px;
  width:22px;
  white-space:nowrap;
}
#u5861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u5861 {
  position:absolute;
  left:585px;
  top:515px;
  width:22px;
  height:20px;
  font-size:36px;
}
#u5862 {
  position:absolute;
  left:0px;
  top:-11px;
  width:22px;
  white-space:nowrap;
}
#u5863 {
  position:absolute;
  left:287px;
  top:469px;
  width:65px;
  height:25px;
}
#u5863_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5864 {
  position:absolute;
  left:492px;
  top:470px;
  width:75px;
  height:25px;
}
#u5864_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5865 {
  position:absolute;
  left:205px;
  top:473px;
  width:71px;
  height:16px;
}
#u5866 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5867 {
  position:absolute;
  left:362px;
  top:474px;
  width:120px;
  height:16px;
}
#u5868 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u5869 {
  position:absolute;
  left:287px;
  top:512px;
  width:65px;
  height:25px;
}
#u5869_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5870 {
  position:absolute;
  left:492px;
  top:513px;
  width:75px;
  height:25px;
}
#u5870_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5871 {
  position:absolute;
  left:205px;
  top:516px;
  width:71px;
  height:16px;
}
#u5872 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5873 {
  position:absolute;
  left:362px;
  top:517px;
  width:120px;
  height:16px;
}
#u5874 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u5875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5875 {
  position:absolute;
  left:205px;
  top:560px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u5876 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u5877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1311px;
  height:2px;
}
#u5877 {
  position:absolute;
  left:190px;
  top:627px;
  width:1310px;
  height:1px;
}
#u5878 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5879 {
  position:absolute;
  left:190px;
  top:863px;
  width:606px;
  height:190px;
}
#u5880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u5880 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5881 {
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u5882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u5882 {
  position:absolute;
  left:52px;
  top:0px;
  width:121px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5883 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u5884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u5884 {
  position:absolute;
  left:173px;
  top:0px;
  width:248px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5885 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u5886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5886 {
  position:absolute;
  left:421px;
  top:0px;
  width:180px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5887 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:41px;
}
#u5888 {
  position:absolute;
  left:0px;
  top:36px;
  width:52px;
  height:41px;
}
#u5889 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  word-wrap:break-word;
}
#u5890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u5890 {
  position:absolute;
  left:52px;
  top:36px;
  width:121px;
  height:41px;
}
#u5891 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u5892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:41px;
}
#u5892 {
  position:absolute;
  left:173px;
  top:36px;
  width:248px;
  height:41px;
}
#u5893 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  word-wrap:break-word;
}
#u5894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u5894 {
  position:absolute;
  left:421px;
  top:36px;
  width:180px;
  height:41px;
}
#u5895 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u5896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u5896 {
  position:absolute;
  left:0px;
  top:77px;
  width:52px;
  height:36px;
}
#u5897 {
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u5898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u5898 {
  position:absolute;
  left:52px;
  top:77px;
  width:121px;
  height:36px;
}
#u5899 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u5900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u5900 {
  position:absolute;
  left:173px;
  top:77px;
  width:248px;
  height:36px;
}
#u5901 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u5902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5902 {
  position:absolute;
  left:421px;
  top:77px;
  width:180px;
  height:36px;
}
#u5903 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u5904 {
  position:absolute;
  left:0px;
  top:113px;
  width:52px;
  height:36px;
}
#u5905 {
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u5906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u5906 {
  position:absolute;
  left:52px;
  top:113px;
  width:121px;
  height:36px;
}
#u5907 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u5908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u5908 {
  position:absolute;
  left:173px;
  top:113px;
  width:248px;
  height:36px;
}
#u5909 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u5910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5910 {
  position:absolute;
  left:421px;
  top:113px;
  width:180px;
  height:36px;
}
#u5911 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u5912 {
  position:absolute;
  left:0px;
  top:149px;
  width:52px;
  height:36px;
}
#u5913 {
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u5914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u5914 {
  position:absolute;
  left:52px;
  top:149px;
  width:121px;
  height:36px;
}
#u5915 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u5916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u5916 {
  position:absolute;
  left:173px;
  top:149px;
  width:248px;
  height:36px;
}
#u5917 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u5918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5918 {
  position:absolute;
  left:421px;
  top:149px;
  width:180px;
  height:36px;
}
#u5919 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5920 {
  position:absolute;
  left:190px;
  top:733px;
  width:99px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5921 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5922 {
  position:absolute;
  left:241px;
  top:1068px;
  width:79px;
  height:25px;
}
#u5922_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5923 {
  position:absolute;
  left:202px;
  top:765px;
  width:43px;
  height:16px;
}
#u5924 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5925 {
  position:absolute;
  left:320px;
  top:766px;
  width:127px;
  height:16px;
}
#u5926 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5927 {
  position:absolute;
  left:457px;
  top:762px;
  width:55px;
  height:25px;
}
#u5927_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5928 {
  position:absolute;
  left:529px;
  top:762px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u5929 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u5930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5930 {
  position:absolute;
  left:190px;
  top:824px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5931 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5932 {
  position:absolute;
  left:202px;
  top:1072px;
  width:29px;
  height:16px;
}
#u5933 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5934 {
  position:absolute;
  left:413px;
  top:1068px;
  width:183px;
  height:25px;
}
#u5934_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5935 {
  position:absolute;
  left:360px;
  top:1073px;
  width:43px;
  height:16px;
}
#u5936 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5937 {
  position:absolute;
  left:617px;
  top:1068px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u5938 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u5939 {
  position:absolute;
  left:255px;
  top:761px;
  width:55px;
  height:25px;
}
#u5939_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5940 {
  position:absolute;
  left:190px;
  top:665px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5941 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5942 {
  position:absolute;
  left:352px;
  top:687px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u5943 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u5944 {
  position:absolute;
  left:202px;
  top:691px;
  width:56px;
  height:16px;
}
#u5945 {
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u5944_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5946 {
  position:absolute;
  left:281px;
  top:691px;
  width:51px;
  height:16px;
}
#u5947 {
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u5946_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1311px;
  height:2px;
}
#u5948 {
  position:absolute;
  left:190px;
  top:1127px;
  width:1310px;
  height:1px;
}
#u5949 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5950 {
  position:absolute;
  left:190px;
  top:1172px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5951 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1311px;
  height:2px;
}
#u5952 {
  position:absolute;
  left:190px;
  top:2289px;
  width:1310px;
  height:1px;
}
#u5953 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5954 {
  position:absolute;
  left:204px;
  top:1204px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5955 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5956 {
  position:absolute;
  left:241px;
  top:1326px;
  width:322px;
  height:70px;
}
#u5956_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5957 {
  position:absolute;
  left:226px;
  top:1233px;
  width:57px;
  height:16px;
}
#u5958 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5959 {
  position:absolute;
  left:241px;
  top:1259px;
  width:322px;
  height:25px;
}
#u5959_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5960 {
  position:absolute;
  left:226px;
  top:1300px;
  width:57px;
  height:16px;
}
#u5961 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5962 {
  position:absolute;
  left:202px;
  top:1481px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5963 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5964 {
  position:absolute;
  left:239px;
  top:1603px;
  width:322px;
  height:70px;
}
#u5964_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5965 {
  position:absolute;
  left:224px;
  top:1510px;
  width:57px;
  height:16px;
}
#u5966 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5967 {
  position:absolute;
  left:239px;
  top:1536px;
  width:322px;
  height:25px;
}
#u5967_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5968 {
  position:absolute;
  left:224px;
  top:1577px;
  width:57px;
  height:16px;
}
#u5969 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5970 {
  position:absolute;
  left:204px;
  top:1754px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5971 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5972 {
  position:absolute;
  left:241px;
  top:1876px;
  width:322px;
  height:70px;
}
#u5972_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5973 {
  position:absolute;
  left:226px;
  top:1783px;
  width:57px;
  height:16px;
}
#u5974 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5975 {
  position:absolute;
  left:241px;
  top:1809px;
  width:322px;
  height:25px;
}
#u5975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5976 {
  position:absolute;
  left:226px;
  top:1850px;
  width:57px;
  height:16px;
}
#u5977 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5978 {
  position:absolute;
  left:293px;
  top:1783px;
  width:369px;
  height:16px;
  color:#999999;
}
#u5979 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u5980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5980 {
  position:absolute;
  left:293px;
  top:1510px;
  width:369px;
  height:16px;
  color:#999999;
}
#u5981 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u5982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5982 {
  position:absolute;
  left:293px;
  top:1233px;
  width:369px;
  height:16px;
  color:#999999;
}
#u5983 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u5984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5984 {
  position:absolute;
  left:202px;
  top:2020px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5985 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5986 {
  position:absolute;
  left:239px;
  top:2142px;
  width:322px;
  height:70px;
}
#u5986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5987 {
  position:absolute;
  left:224px;
  top:2049px;
  width:57px;
  height:16px;
}
#u5988 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5989 {
  position:absolute;
  left:239px;
  top:2075px;
  width:322px;
  height:25px;
}
#u5989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5990 {
  position:absolute;
  left:224px;
  top:2116px;
  width:57px;
  height:16px;
}
#u5991 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5992 {
  position:absolute;
  left:226px;
  top:1413px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u5993 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u5994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5994 {
  position:absolute;
  left:226px;
  top:1692px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u5995 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u5996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5996 {
  position:absolute;
  left:204px;
  top:1962px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u5997 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u5998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5998 {
  position:absolute;
  left:204px;
  top:2230px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u5999 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
