body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6066 {
  position:absolute;
  left:217px;
  top:116px;
  width:93px;
  height:35px;
}
#u6067 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6068 {
  position:absolute;
  left:217px;
  top:150px;
  width:462px;
  height:89px;
}
#u6069 {
  position:absolute;
  left:2px;
  top:36px;
  width:458px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6070 {
  position:absolute;
  left:190px;
  top:90px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6071 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6072 {
  position:absolute;
  left:226px;
  top:124px;
  width:78px;
  height:16px;
}
#u6073 {
  position:absolute;
  left:16px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u6072_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6074 {
  position:absolute;
  left:325px;
  top:124px;
  width:78px;
  height:16px;
}
#u6075 {
  position:absolute;
  left:16px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u6074_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6076 {
  position:absolute;
  left:233px;
  top:167px;
  width:78px;
  height:16px;
}
#u6077 {
  position:absolute;
  left:16px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u6076_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6078 {
  position:absolute;
  left:233px;
  top:199px;
  width:106px;
  height:16px;
}
#u6079 {
  position:absolute;
  left:16px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u6078_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6080 {
  position:absolute;
  left:339px;
  top:195px;
  width:47px;
  height:25px;
}
#u6080_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6081 {
  position:absolute;
  left:396px;
  top:199px;
  width:71px;
  height:16px;
}
#u6082 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6083 {
  position:absolute;
  left:477px;
  top:199px;
  width:191px;
  height:16px;
  color:#999999;
}
#u6084 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u6085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:2px;
}
#u6085 {
  position:absolute;
  left:218px;
  top:150px;
  width:92px;
  height:1px;
  color:#FFFFFF;
}
#u6086 {
  position:absolute;
  left:2px;
  top:-8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6087 {
  position:absolute;
  left:190px;
  top:266px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6088 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6089 {
  position:absolute;
  left:217px;
  top:300px;
  width:78px;
  height:16px;
}
#u6090 {
  position:absolute;
  left:16px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u6089_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6091 {
  position:absolute;
  left:313px;
  top:300px;
  width:78px;
  height:16px;
}
#u6092 {
  position:absolute;
  left:16px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u6091_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:2px;
}
#u6093 {
  position:absolute;
  left:306px;
  top:326px;
  width:92px;
  height:1px;
  color:#FFFFFF;
}
#u6094 {
  position:absolute;
  left:2px;
  top:-8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6095 {
  position:absolute;
  left:443px;
  top:120px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u6096 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u6097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6097 {
  position:absolute;
  left:391px;
  top:296px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u6098 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u6099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1311px;
  height:2px;
}
#u6099 {
  position:absolute;
  left:190px;
  top:352px;
  width:1310px;
  height:1px;
}
#u6100 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6101 {
  position:absolute;
  left:190px;
  top:394px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6102 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u6103 {
  position:absolute;
  left:287px;
  top:427px;
  width:65px;
  height:25px;
}
#u6103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6104 {
  position:absolute;
  left:492px;
  top:428px;
  width:75px;
  height:25px;
}
#u6104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6105 {
  position:absolute;
  left:205px;
  top:431px;
  width:71px;
  height:16px;
}
#u6106 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6107 {
  position:absolute;
  left:362px;
  top:432px;
  width:120px;
  height:16px;
}
#u6108 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u6109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u6109 {
  position:absolute;
  left:585px;
  top:430px;
  width:22px;
  height:20px;
  font-size:36px;
}
#u6110 {
  position:absolute;
  left:0px;
  top:-11px;
  width:22px;
  white-space:nowrap;
}
#u6111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u6111 {
  position:absolute;
  left:585px;
  top:472px;
  width:22px;
  height:20px;
  font-size:36px;
}
#u6112 {
  position:absolute;
  left:0px;
  top:-11px;
  width:22px;
  white-space:nowrap;
}
#u6113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u6113 {
  position:absolute;
  left:585px;
  top:515px;
  width:22px;
  height:20px;
  font-size:36px;
}
#u6114 {
  position:absolute;
  left:0px;
  top:-11px;
  width:22px;
  white-space:nowrap;
}
#u6115 {
  position:absolute;
  left:287px;
  top:469px;
  width:65px;
  height:25px;
}
#u6115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6116 {
  position:absolute;
  left:492px;
  top:470px;
  width:75px;
  height:25px;
}
#u6116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6117 {
  position:absolute;
  left:205px;
  top:473px;
  width:71px;
  height:16px;
}
#u6118 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6119 {
  position:absolute;
  left:362px;
  top:474px;
  width:120px;
  height:16px;
}
#u6120 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u6121 {
  position:absolute;
  left:287px;
  top:512px;
  width:65px;
  height:25px;
}
#u6121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6122 {
  position:absolute;
  left:492px;
  top:513px;
  width:75px;
  height:25px;
}
#u6122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6123 {
  position:absolute;
  left:205px;
  top:516px;
  width:71px;
  height:16px;
}
#u6124 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6125 {
  position:absolute;
  left:362px;
  top:517px;
  width:120px;
  height:16px;
}
#u6126 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u6127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6127 {
  position:absolute;
  left:205px;
  top:560px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u6128 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u6129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1311px;
  height:2px;
}
#u6129 {
  position:absolute;
  left:190px;
  top:627px;
  width:1310px;
  height:1px;
}
#u6130 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6131 {
  position:absolute;
  left:190px;
  top:863px;
  width:606px;
  height:190px;
}
#u6132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u6132 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6133 {
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u6134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u6134 {
  position:absolute;
  left:52px;
  top:0px;
  width:121px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6135 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u6136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u6136 {
  position:absolute;
  left:173px;
  top:0px;
  width:248px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6137 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u6138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u6138 {
  position:absolute;
  left:421px;
  top:0px;
  width:180px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6139 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u6140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:41px;
}
#u6140 {
  position:absolute;
  left:0px;
  top:36px;
  width:52px;
  height:41px;
}
#u6141 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  word-wrap:break-word;
}
#u6142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u6142 {
  position:absolute;
  left:52px;
  top:36px;
  width:121px;
  height:41px;
}
#u6143 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u6144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:41px;
}
#u6144 {
  position:absolute;
  left:173px;
  top:36px;
  width:248px;
  height:41px;
}
#u6145 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  word-wrap:break-word;
}
#u6146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u6146 {
  position:absolute;
  left:421px;
  top:36px;
  width:180px;
  height:41px;
}
#u6147 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u6148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u6148 {
  position:absolute;
  left:0px;
  top:77px;
  width:52px;
  height:36px;
}
#u6149 {
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u6150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u6150 {
  position:absolute;
  left:52px;
  top:77px;
  width:121px;
  height:36px;
}
#u6151 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u6152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u6152 {
  position:absolute;
  left:173px;
  top:77px;
  width:248px;
  height:36px;
}
#u6153 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u6154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u6154 {
  position:absolute;
  left:421px;
  top:77px;
  width:180px;
  height:36px;
}
#u6155 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u6156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u6156 {
  position:absolute;
  left:0px;
  top:113px;
  width:52px;
  height:36px;
}
#u6157 {
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u6158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u6158 {
  position:absolute;
  left:52px;
  top:113px;
  width:121px;
  height:36px;
}
#u6159 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u6160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u6160 {
  position:absolute;
  left:173px;
  top:113px;
  width:248px;
  height:36px;
}
#u6161 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u6162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u6162 {
  position:absolute;
  left:421px;
  top:113px;
  width:180px;
  height:36px;
}
#u6163 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u6164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u6164 {
  position:absolute;
  left:0px;
  top:149px;
  width:52px;
  height:36px;
}
#u6165 {
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u6166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u6166 {
  position:absolute;
  left:52px;
  top:149px;
  width:121px;
  height:36px;
}
#u6167 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u6168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u6168 {
  position:absolute;
  left:173px;
  top:149px;
  width:248px;
  height:36px;
}
#u6169 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u6170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u6170 {
  position:absolute;
  left:421px;
  top:149px;
  width:180px;
  height:36px;
}
#u6171 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u6172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6172 {
  position:absolute;
  left:190px;
  top:733px;
  width:99px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6173 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u6174 {
  position:absolute;
  left:241px;
  top:1068px;
  width:79px;
  height:25px;
}
#u6174_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6175 {
  position:absolute;
  left:202px;
  top:765px;
  width:43px;
  height:16px;
}
#u6176 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6177 {
  position:absolute;
  left:320px;
  top:766px;
  width:127px;
  height:16px;
}
#u6178 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6179 {
  position:absolute;
  left:457px;
  top:762px;
  width:55px;
  height:25px;
}
#u6179_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6180 {
  position:absolute;
  left:529px;
  top:762px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u6181 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u6182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6182 {
  position:absolute;
  left:190px;
  top:824px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6183 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6184 {
  position:absolute;
  left:202px;
  top:1072px;
  width:29px;
  height:16px;
}
#u6185 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6186 {
  position:absolute;
  left:413px;
  top:1068px;
  width:183px;
  height:25px;
}
#u6186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6187 {
  position:absolute;
  left:360px;
  top:1073px;
  width:43px;
  height:16px;
}
#u6188 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6189 {
  position:absolute;
  left:617px;
  top:1068px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u6190 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u6191 {
  position:absolute;
  left:255px;
  top:761px;
  width:55px;
  height:25px;
}
#u6191_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6192 {
  position:absolute;
  left:190px;
  top:665px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6193 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6194 {
  position:absolute;
  left:352px;
  top:687px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u6195 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u6196 {
  position:absolute;
  left:202px;
  top:691px;
  width:56px;
  height:16px;
}
#u6197 {
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u6196_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6198 {
  position:absolute;
  left:281px;
  top:691px;
  width:51px;
  height:16px;
}
#u6199 {
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u6198_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1311px;
  height:2px;
}
#u6200 {
  position:absolute;
  left:190px;
  top:1127px;
  width:1310px;
  height:1px;
}
#u6201 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6202 {
  position:absolute;
  left:190px;
  top:1172px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6203 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1311px;
  height:2px;
}
#u6204 {
  position:absolute;
  left:190px;
  top:2289px;
  width:1310px;
  height:1px;
}
#u6205 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6206 {
  position:absolute;
  left:204px;
  top:1204px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6207 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6208 {
  position:absolute;
  left:241px;
  top:1326px;
  width:322px;
  height:70px;
}
#u6208_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6209 {
  position:absolute;
  left:226px;
  top:1233px;
  width:57px;
  height:16px;
}
#u6210 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6211 {
  position:absolute;
  left:241px;
  top:1259px;
  width:322px;
  height:25px;
}
#u6211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6212 {
  position:absolute;
  left:226px;
  top:1300px;
  width:57px;
  height:16px;
}
#u6213 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6214 {
  position:absolute;
  left:202px;
  top:1481px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6215 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6216 {
  position:absolute;
  left:239px;
  top:1603px;
  width:322px;
  height:70px;
}
#u6216_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6217 {
  position:absolute;
  left:224px;
  top:1510px;
  width:57px;
  height:16px;
}
#u6218 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6219 {
  position:absolute;
  left:239px;
  top:1536px;
  width:322px;
  height:25px;
}
#u6219_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6220 {
  position:absolute;
  left:224px;
  top:1577px;
  width:57px;
  height:16px;
}
#u6221 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6222 {
  position:absolute;
  left:204px;
  top:1754px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6223 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6224 {
  position:absolute;
  left:241px;
  top:1876px;
  width:322px;
  height:70px;
}
#u6224_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6225 {
  position:absolute;
  left:226px;
  top:1783px;
  width:57px;
  height:16px;
}
#u6226 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6227 {
  position:absolute;
  left:241px;
  top:1809px;
  width:322px;
  height:25px;
}
#u6227_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6228 {
  position:absolute;
  left:226px;
  top:1850px;
  width:57px;
  height:16px;
}
#u6229 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6230 {
  position:absolute;
  left:293px;
  top:1783px;
  width:369px;
  height:16px;
  color:#999999;
}
#u6231 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u6232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6232 {
  position:absolute;
  left:293px;
  top:1510px;
  width:369px;
  height:16px;
  color:#999999;
}
#u6233 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u6234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6234 {
  position:absolute;
  left:293px;
  top:1233px;
  width:369px;
  height:16px;
  color:#999999;
}
#u6235 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u6236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6236 {
  position:absolute;
  left:202px;
  top:2020px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6237 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6238 {
  position:absolute;
  left:239px;
  top:2142px;
  width:322px;
  height:70px;
}
#u6238_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6239 {
  position:absolute;
  left:224px;
  top:2049px;
  width:57px;
  height:16px;
}
#u6240 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6241 {
  position:absolute;
  left:239px;
  top:2075px;
  width:322px;
  height:25px;
}
#u6241_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6242 {
  position:absolute;
  left:224px;
  top:2116px;
  width:57px;
  height:16px;
}
#u6243 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6244 {
  position:absolute;
  left:226px;
  top:1413px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u6245 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u6246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6246 {
  position:absolute;
  left:226px;
  top:1692px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u6247 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u6248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6248 {
  position:absolute;
  left:204px;
  top:1962px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u6249 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u6250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6250 {
  position:absolute;
  left:204px;
  top:2230px;
  width:83px;
  height:25px;
  color:#FFFFFF;
}
#u6251 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u6252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6252 {
  position:absolute;
  left:287px;
  top:394px;
  width:373px;
  height:16px;
  color:#999999;
}
#u6253 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  white-space:nowrap;
}
