body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:976px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u995 {
  position:absolute;
  left:190px;
  top:90px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:218px;
}
#u997 {
  position:absolute;
  left:190px;
  top:161px;
  width:154px;
  height:217px;
}
#u998 {
  position:absolute;
  left:2px;
  top:100px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u999 {
  position:absolute;
  left:190px;
  top:424px;
  width:57px;
  height:16px;
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1001 {
  position:absolute;
  left:257px;
  top:417px;
  width:97px;
  height:30px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1003 {
  position:absolute;
  left:190px;
  top:135px;
  width:29px;
  height:16px;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1005 {
  position:absolute;
  left:717px;
  top:135px;
  width:29px;
  height:16px;
}
#u1006 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:127px;
}
#u1007 {
  position:absolute;
  left:717px;
  top:161px;
  width:259px;
  height:126px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:55px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1009 {
  position:absolute;
  left:717px;
  top:424px;
  width:57px;
  height:16px;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1011 {
  position:absolute;
  left:784px;
  top:417px;
  width:97px;
  height:30px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1013 {
  position:absolute;
  left:190px;
  top:457px;
  width:190px;
  height:16px;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1015 {
  position:absolute;
  left:717px;
  top:457px;
  width:190px;
  height:16px;
}
#u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1017 {
  position:absolute;
  left:190px;
  top:494px;
  width:91px;
  height:32px;
  color:#FFFFFF;
}
#u1018 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1019 {
  position:absolute;
  left:717px;
  top:494px;
  width:91px;
  height:32px;
  color:#FFFFFF;
}
#u1020 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
