body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1111px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:371px;
  top:147px;
  width:103px;
  height:72px;
}
#u21 {
  position:absolute;
  left:2px;
  top:28px;
  width:99px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:72px;
}
#u22 {
  position:absolute;
  left:458px;
  top:323px;
  width:184px;
  height:72px;
}
#u23 {
  position:absolute;
  left:2px;
  top:28px;
  width:180px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:423px;
  top:219px;
  width:0px;
  height:0px;
}
#u24_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u24_seg1 {
  position:absolute;
  left:-4px;
  top:36px;
  width:135px;
  height:8px;
}
#u24_seg2 {
  position:absolute;
  left:123px;
  top:36px;
  width:8px;
  height:68px;
}
#u24_seg3 {
  position:absolute;
  left:107px;
  top:78px;
  width:40px;
  height:40px;
}
#u25 {
  position:absolute;
  left:26px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:358px;
  top:504px;
  width:130px;
  height:66px;
}
#u27 {
  position:absolute;
  left:2px;
  top:25px;
  width:126px;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:555px;
  top:504px;
  width:132px;
  height:66px;
}
#u29 {
  position:absolute;
  left:2px;
  top:25px;
  width:128px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:550px;
  top:395px;
  width:0px;
  height:0px;
}
#u30_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:88px;
}
#u30_seg1 {
  position:absolute;
  left:-4px;
  top:80px;
  width:79px;
  height:8px;
}
#u30_seg2 {
  position:absolute;
  left:67px;
  top:80px;
  width:8px;
  height:29px;
}
#u30_seg3 {
  position:absolute;
  left:51px;
  top:83px;
  width:40px;
  height:40px;
}
#u31 {
  position:absolute;
  left:-44px;
  top:76px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  position:absolute;
  left:673px;
  top:76px;
  width:103px;
  height:72px;
}
#u33 {
  position:absolute;
  left:2px;
  top:28px;
  width:99px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:725px;
  top:148px;
  width:0px;
  height:0px;
}
#u34_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:133px;
}
#u34_seg1 {
  position:absolute;
  left:-179px;
  top:125px;
  width:183px;
  height:8px;
}
#u34_seg2 {
  position:absolute;
  left:-179px;
  top:125px;
  width:8px;
  height:50px;
}
#u34_seg3 {
  position:absolute;
  left:-195px;
  top:149px;
  width:40px;
  height:40px;
}
#u35 {
  position:absolute;
  left:-96px;
  top:121px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  position:absolute;
  left:731px;
  top:504px;
  width:160px;
  height:66px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  position:absolute;
  left:555px;
  top:1283px;
  width:103px;
  height:72px;
}
#u39 {
  position:absolute;
  left:2px;
  top:28px;
  width:99px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:72px;
}
#u40 {
  position:absolute;
  left:642px;
  top:1459px;
  width:184px;
  height:72px;
}
#u41 {
  position:absolute;
  left:2px;
  top:28px;
  width:180px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:607px;
  top:1355px;
  width:0px;
  height:0px;
}
#u42_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u42_seg1 {
  position:absolute;
  left:-4px;
  top:36px;
  width:135px;
  height:8px;
}
#u42_seg2 {
  position:absolute;
  left:123px;
  top:36px;
  width:8px;
  height:68px;
}
#u42_seg3 {
  position:absolute;
  left:107px;
  top:78px;
  width:40px;
  height:40px;
}
#u43 {
  position:absolute;
  left:26px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:566px;
  top:1575px;
  width:123px;
  height:72px;
}
#u45 {
  position:absolute;
  left:2px;
  top:28px;
  width:119px;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  position:absolute;
  left:760px;
  top:1575px;
  width:122px;
  height:72px;
}
#u47 {
  position:absolute;
  left:2px;
  top:28px;
  width:118px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:734px;
  top:1531px;
  width:0px;
  height:0px;
}
#u48_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:17px;
}
#u48_seg1 {
  position:absolute;
  left:-110px;
  top:9px;
  width:114px;
  height:8px;
}
#u48_seg2 {
  position:absolute;
  left:-110px;
  top:9px;
  width:8px;
  height:35px;
}
#u48_seg3 {
  position:absolute;
  left:-126px;
  top:18px;
  width:40px;
  height:40px;
}
#u49 {
  position:absolute;
  left:-112px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:734px;
  top:1531px;
  width:0px;
  height:0px;
}
#u50_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u50_seg1 {
  position:absolute;
  left:-4px;
  top:25px;
  width:95px;
  height:8px;
}
#u50_seg2 {
  position:absolute;
  left:83px;
  top:25px;
  width:8px;
  height:19px;
}
#u50_seg3 {
  position:absolute;
  left:67px;
  top:18px;
  width:40px;
  height:40px;
}
#u51 {
  position:absolute;
  left:-14px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52 {
  position:absolute;
  left:967px;
  top:1283px;
  width:103px;
  height:72px;
}
#u53 {
  position:absolute;
  left:2px;
  top:28px;
  width:99px;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  position:absolute;
  left:967px;
  top:1575px;
  width:103px;
  height:72px;
}
#u55 {
  position:absolute;
  left:2px;
  top:28px;
  width:99px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:72px;
}
#u56 {
  position:absolute;
  left:927px;
  top:1459px;
  width:184px;
  height:72px;
}
#u57 {
  position:absolute;
  left:2px;
  top:28px;
  width:180px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1016px;
  top:1531px;
  width:0px;
  height:0px;
}
#u58_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u58_seg1 {
  position:absolute;
  left:-20px;
  top:18px;
  width:40px;
  height:40px;
}
#u59 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:1016px;
  top:1355px;
  width:0px;
  height:0px;
}
#u60_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:108px;
}
#u60_seg1 {
  position:absolute;
  left:-20px;
  top:78px;
  width:40px;
  height:40px;
}
#u61 {
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:927px;
  top:1495px;
  width:0px;
  height:0px;
}
#u62_seg0 {
  position:absolute;
  left:-101px;
  top:-4px;
  width:105px;
  height:8px;
}
#u62_seg1 {
  position:absolute;
  left:-115px;
  top:-20px;
  width:40px;
  height:40px;
}
#u63 {
  position:absolute;
  left:-100px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  position:absolute;
  left:610px;
  top:258px;
  width:77px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66 {
  position:absolute;
  left:452px;
  top:241px;
  width:49px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  position:absolute;
  left:379px;
  top:439px;
  width:113px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:550px;
  top:395px;
  width:0px;
  height:0px;
}
#u70_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u70_seg1 {
  position:absolute;
  left:-131px;
  top:58px;
  width:135px;
  height:8px;
}
#u70_seg2 {
  position:absolute;
  left:-131px;
  top:58px;
  width:8px;
  height:51px;
}
#u70_seg3 {
  position:absolute;
  left:-147px;
  top:83px;
  width:40px;
  height:40px;
}
#u71 {
  position:absolute;
  left:-106px;
  top:54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  position:absolute;
  left:559px;
  top:457px;
  width:113px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  position:absolute;
  left:676px;
  top:397px;
  width:49px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:302px;
  top:76px;
  width:103px;
  height:36px;
}
#u77 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  position:absolute;
  left:428px;
  top:76px;
  width:103px;
  height:36px;
}
#u79 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:354px;
  top:112px;
  width:0px;
  height:0px;
}
#u80_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:13px;
}
#u80_seg1 {
  position:absolute;
  left:-4px;
  top:5px;
  width:77px;
  height:8px;
}
#u80_seg2 {
  position:absolute;
  left:65px;
  top:5px;
  width:8px;
  height:30px;
}
#u80_seg3 {
  position:absolute;
  left:49px;
  top:9px;
  width:40px;
  height:40px;
}
#u81 {
  position:absolute;
  left:-7px;
  top:1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:480px;
  top:112px;
  width:0px;
  height:0px;
}
#u82_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u82_seg1 {
  position:absolute;
  left:-61px;
  top:6px;
  width:65px;
  height:8px;
}
#u82_seg2 {
  position:absolute;
  left:-61px;
  top:6px;
  width:8px;
  height:29px;
}
#u82_seg3 {
  position:absolute;
  left:-77px;
  top:9px;
  width:40px;
  height:40px;
}
#u83 {
  position:absolute;
  left:-86px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:550px;
  top:395px;
  width:0px;
  height:0px;
}
#u84_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u84_seg1 {
  position:absolute;
  left:-4px;
  top:18px;
  width:269px;
  height:8px;
}
#u84_seg2 {
  position:absolute;
  left:257px;
  top:18px;
  width:8px;
  height:91px;
}
#u84_seg3 {
  position:absolute;
  left:241px;
  top:83px;
  width:40px;
  height:40px;
}
#u85 {
  position:absolute;
  left:113px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
