body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:949px;
}
#u4962 {
  position:absolute;
  left:228px;
  top:73px;
  width:1px;
  height:948px;
}
#u4963 {
  position:absolute;
  left:2px;
  top:466px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4965 {
  position:absolute;
  left:320px;
  top:20px;
  width:70px;
  height:38px;
}
#u4966 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u4967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4967 {
  position:absolute;
  left:410px;
  top:20px;
  width:70px;
  height:38px;
}
#u4968 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u4969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4969 {
  position:absolute;
  left:679px;
  top:20px;
  width:70px;
  height:38px;
}
#u4970 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u4971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4971 {
  position:absolute;
  left:769px;
  top:20px;
  width:70px;
  height:38px;
}
#u4972 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u4973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4973 {
  position:absolute;
  left:1087px;
  top:20px;
  width:140px;
  height:38px;
}
#u4974 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u4975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4975 {
  position:absolute;
  left:1237px;
  top:20px;
  width:53px;
  height:38px;
}
#u4976 {
  position:absolute;
  left:2px;
  top:11px;
  width:49px;
  word-wrap:break-word;
}
#u4977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#008000;
}
#u4977 {
  position:absolute;
  left:18px;
  top:20px;
  width:211px;
  height:38px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#008000;
}
#u4978 {
  position:absolute;
  left:0px;
  top:4px;
  width:211px;
  word-wrap:break-word;
}
#u4979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:2px;
}
#u4979 {
  position:absolute;
  left:0px;
  top:71px;
  width:1290px;
  height:1px;
}
#u4980 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4981 {
  position:absolute;
  left:859px;
  top:20px;
  width:70px;
  height:38px;
}
#u4982 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u4983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4983 {
  position:absolute;
  left:230px;
  top:20px;
  width:70px;
  height:38px;
}
#u4984 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u4985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4985 {
  position:absolute;
  left:500px;
  top:20px;
  width:70px;
  height:38px;
}
#u4986 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u4987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4987 {
  position:absolute;
  left:590px;
  top:20px;
  width:70px;
  height:38px;
}
#u4988 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u4989 {
  position:absolute;
  left:259px;
  top:150px;
  width:999px;
  height:397px;
}
#u4990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:30px;
}
#u4990 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4991 {
  position:absolute;
  left:2px;
  top:7px;
  width:193px;
  word-wrap:break-word;
}
#u4992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
}
#u4992 {
  position:absolute;
  left:197px;
  top:0px;
  width:271px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4993 {
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  word-wrap:break-word;
}
#u4994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u4994 {
  position:absolute;
  left:468px;
  top:0px;
  width:227px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4995 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  word-wrap:break-word;
}
#u4996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
}
#u4996 {
  position:absolute;
  left:695px;
  top:0px;
  width:299px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4997 {
  position:absolute;
  left:2px;
  top:7px;
  width:295px;
  word-wrap:break-word;
}
#u4998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:36px;
}
#u4998 {
  position:absolute;
  left:0px;
  top:30px;
  width:197px;
  height:36px;
}
#u4999 {
  position:absolute;
  left:2px;
  top:10px;
  width:193px;
  word-wrap:break-word;
}
#u5000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u5000 {
  position:absolute;
  left:197px;
  top:30px;
  width:271px;
  height:36px;
}
#u5001 {
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u5002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
}
#u5002 {
  position:absolute;
  left:468px;
  top:30px;
  width:227px;
  height:36px;
}
#u5003 {
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u5004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:36px;
}
#u5004 {
  position:absolute;
  left:695px;
  top:30px;
  width:299px;
  height:36px;
}
#u5005 {
  position:absolute;
  left:2px;
  top:10px;
  width:295px;
  word-wrap:break-word;
}
#u5006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:36px;
}
#u5006 {
  position:absolute;
  left:0px;
  top:66px;
  width:197px;
  height:36px;
}
#u5007 {
  position:absolute;
  left:2px;
  top:10px;
  width:193px;
  word-wrap:break-word;
}
#u5008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u5008 {
  position:absolute;
  left:197px;
  top:66px;
  width:271px;
  height:36px;
}
#u5009 {
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u5010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
}
#u5010 {
  position:absolute;
  left:468px;
  top:66px;
  width:227px;
  height:36px;
}
#u5011 {
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u5012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:36px;
}
#u5012 {
  position:absolute;
  left:695px;
  top:66px;
  width:299px;
  height:36px;
}
#u5013 {
  position:absolute;
  left:2px;
  top:10px;
  width:295px;
  word-wrap:break-word;
}
#u5014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:36px;
}
#u5014 {
  position:absolute;
  left:0px;
  top:102px;
  width:197px;
  height:36px;
}
#u5015 {
  position:absolute;
  left:2px;
  top:10px;
  width:193px;
  word-wrap:break-word;
}
#u5016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u5016 {
  position:absolute;
  left:197px;
  top:102px;
  width:271px;
  height:36px;
}
#u5017 {
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u5018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
}
#u5018 {
  position:absolute;
  left:468px;
  top:102px;
  width:227px;
  height:36px;
}
#u5019 {
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u5020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:36px;
}
#u5020 {
  position:absolute;
  left:695px;
  top:102px;
  width:299px;
  height:36px;
}
#u5021 {
  position:absolute;
  left:2px;
  top:10px;
  width:295px;
  word-wrap:break-word;
}
#u5022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:36px;
}
#u5022 {
  position:absolute;
  left:0px;
  top:138px;
  width:197px;
  height:36px;
}
#u5023 {
  position:absolute;
  left:2px;
  top:10px;
  width:193px;
  word-wrap:break-word;
}
#u5024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u5024 {
  position:absolute;
  left:197px;
  top:138px;
  width:271px;
  height:36px;
}
#u5025 {
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u5026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
}
#u5026 {
  position:absolute;
  left:468px;
  top:138px;
  width:227px;
  height:36px;
}
#u5027 {
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u5028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:36px;
}
#u5028 {
  position:absolute;
  left:695px;
  top:138px;
  width:299px;
  height:36px;
}
#u5029 {
  position:absolute;
  left:2px;
  top:10px;
  width:295px;
  word-wrap:break-word;
}
#u5030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:38px;
}
#u5030 {
  position:absolute;
  left:0px;
  top:174px;
  width:197px;
  height:38px;
}
#u5031 {
  position:absolute;
  left:2px;
  top:11px;
  width:193px;
  word-wrap:break-word;
}
#u5032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:38px;
}
#u5032 {
  position:absolute;
  left:197px;
  top:174px;
  width:271px;
  height:38px;
}
#u5033 {
  position:absolute;
  left:2px;
  top:11px;
  width:267px;
  word-wrap:break-word;
}
#u5034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:38px;
}
#u5034 {
  position:absolute;
  left:468px;
  top:174px;
  width:227px;
  height:38px;
}
#u5035 {
  position:absolute;
  left:2px;
  top:11px;
  width:223px;
  word-wrap:break-word;
}
#u5036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:38px;
}
#u5036 {
  position:absolute;
  left:695px;
  top:174px;
  width:299px;
  height:38px;
}
#u5037 {
  position:absolute;
  left:2px;
  top:11px;
  width:295px;
  word-wrap:break-word;
}
#u5038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:36px;
}
#u5038 {
  position:absolute;
  left:0px;
  top:212px;
  width:197px;
  height:36px;
}
#u5039 {
  position:absolute;
  left:2px;
  top:10px;
  width:193px;
  word-wrap:break-word;
}
#u5040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u5040 {
  position:absolute;
  left:197px;
  top:212px;
  width:271px;
  height:36px;
}
#u5041 {
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u5042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
}
#u5042 {
  position:absolute;
  left:468px;
  top:212px;
  width:227px;
  height:36px;
}
#u5043 {
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u5044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:36px;
}
#u5044 {
  position:absolute;
  left:695px;
  top:212px;
  width:299px;
  height:36px;
}
#u5045 {
  position:absolute;
  left:2px;
  top:10px;
  width:295px;
  word-wrap:break-word;
}
#u5046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:36px;
}
#u5046 {
  position:absolute;
  left:0px;
  top:248px;
  width:197px;
  height:36px;
}
#u5047 {
  position:absolute;
  left:2px;
  top:10px;
  width:193px;
  word-wrap:break-word;
}
#u5048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u5048 {
  position:absolute;
  left:197px;
  top:248px;
  width:271px;
  height:36px;
}
#u5049 {
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u5050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
}
#u5050 {
  position:absolute;
  left:468px;
  top:248px;
  width:227px;
  height:36px;
}
#u5051 {
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u5052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:36px;
}
#u5052 {
  position:absolute;
  left:695px;
  top:248px;
  width:299px;
  height:36px;
}
#u5053 {
  position:absolute;
  left:2px;
  top:10px;
  width:295px;
  word-wrap:break-word;
}
#u5054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:36px;
}
#u5054 {
  position:absolute;
  left:0px;
  top:284px;
  width:197px;
  height:36px;
}
#u5055 {
  position:absolute;
  left:2px;
  top:10px;
  width:193px;
  word-wrap:break-word;
}
#u5056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u5056 {
  position:absolute;
  left:197px;
  top:284px;
  width:271px;
  height:36px;
}
#u5057 {
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u5058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
}
#u5058 {
  position:absolute;
  left:468px;
  top:284px;
  width:227px;
  height:36px;
}
#u5059 {
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u5060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:36px;
}
#u5060 {
  position:absolute;
  left:695px;
  top:284px;
  width:299px;
  height:36px;
}
#u5061 {
  position:absolute;
  left:2px;
  top:10px;
  width:295px;
  word-wrap:break-word;
}
#u5062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:36px;
}
#u5062 {
  position:absolute;
  left:0px;
  top:320px;
  width:197px;
  height:36px;
}
#u5063 {
  position:absolute;
  left:2px;
  top:10px;
  width:193px;
  word-wrap:break-word;
}
#u5064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u5064 {
  position:absolute;
  left:197px;
  top:320px;
  width:271px;
  height:36px;
}
#u5065 {
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u5066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
}
#u5066 {
  position:absolute;
  left:468px;
  top:320px;
  width:227px;
  height:36px;
}
#u5067 {
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u5068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:36px;
}
#u5068 {
  position:absolute;
  left:695px;
  top:320px;
  width:299px;
  height:36px;
}
#u5069 {
  position:absolute;
  left:2px;
  top:10px;
  width:295px;
  word-wrap:break-word;
}
#u5070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:36px;
}
#u5070 {
  position:absolute;
  left:0px;
  top:356px;
  width:197px;
  height:36px;
}
#u5071 {
  position:absolute;
  left:2px;
  top:10px;
  width:193px;
  word-wrap:break-word;
}
#u5072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u5072 {
  position:absolute;
  left:197px;
  top:356px;
  width:271px;
  height:36px;
}
#u5073 {
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u5074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
}
#u5074 {
  position:absolute;
  left:468px;
  top:356px;
  width:227px;
  height:36px;
}
#u5075 {
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u5076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:36px;
}
#u5076 {
  position:absolute;
  left:695px;
  top:356px;
  width:299px;
  height:36px;
}
#u5077 {
  position:absolute;
  left:2px;
  top:10px;
  width:295px;
  word-wrap:break-word;
}
#u5078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5078 {
  position:absolute;
  left:448px;
  top:560px;
  width:75px;
  height:25px;
}
#u5079 {
  position:absolute;
  left:0px;
  top:4px;
  width:75px;
  white-space:nowrap;
}
#u5080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5080 {
  position:absolute;
  left:540px;
  top:560px;
  width:57px;
  height:25px;
}
#u5081 {
  position:absolute;
  left:0px;
  top:4px;
  width:57px;
  white-space:nowrap;
}
#u5082 {
  position:absolute;
  left:601px;
  top:560px;
  width:38px;
  height:25px;
}
#u5082_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5083 {
  position:absolute;
  left:649px;
  top:560px;
  width:43px;
  height:25px;
}
#u5084 {
  position:absolute;
  left:0px;
  top:4px;
  width:43px;
  white-space:nowrap;
}
#u5085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5085 {
  position:absolute;
  left:709px;
  top:560px;
  width:38px;
  height:25px;
  font-size:14px;
}
#u5086 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  word-wrap:break-word;
}
#u5087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5087 {
  position:absolute;
  left:757px;
  top:560px;
  width:38px;
  height:25px;
  font-size:14px;
}
#u5088 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  word-wrap:break-word;
}
#u5089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5089 {
  position:absolute;
  left:805px;
  top:560px;
  width:38px;
  height:25px;
  font-size:14px;
}
#u5090 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  word-wrap:break-word;
}
#u5091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5091 {
  position:absolute;
  left:853px;
  top:560px;
  width:38px;
  height:25px;
  font-size:14px;
}
#u5092 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  word-wrap:break-word;
}
#u5093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5093 {
  position:absolute;
  left:961px;
  top:560px;
  width:57px;
  height:25px;
}
#u5094 {
  position:absolute;
  left:0px;
  top:4px;
  width:57px;
  white-space:nowrap;
}
#u5095 {
  position:absolute;
  left:1023px;
  top:560px;
  width:38px;
  height:25px;
}
#u5095_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5096 {
  position:absolute;
  left:1065px;
  top:560px;
  width:15px;
  height:25px;
}
#u5097 {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  white-space:nowrap;
}
#u5098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5098 {
  position:absolute;
  left:1106px;
  top:560px;
  width:101px;
  height:25px;
}
#u5099 {
  position:absolute;
  left:0px;
  top:4px;
  width:101px;
  white-space:nowrap;
}
#u5100 {
  position:absolute;
  left:649px;
  top:107px;
  width:101px;
  height:25px;
}
#u5100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u5100_input:disabled {
  color:grayText;
}
#u5101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5101 {
  position:absolute;
  left:901px;
  top:560px;
  width:50px;
  height:25px;
}
#u5102 {
  position:absolute;
  left:0px;
  top:4px;
  width:50px;
  white-space:nowrap;
}
#u5103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5103 {
  position:absolute;
  left:259px;
  top:107px;
  width:29px;
  height:25px;
}
#u5104 {
  position:absolute;
  left:0px;
  top:4px;
  width:29px;
  white-space:nowrap;
}
#u5105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5106 {
  position:absolute;
  left:298px;
  top:107px;
  width:147px;
  height:25px;
}
#u5106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u5107 {
  position:absolute;
  left:423px;
  top:111px;
  width:16px;
  height:18px;
}
#u5108 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5109 {
  position:absolute;
  left:455px;
  top:107px;
  width:15px;
  height:25px;
}
#u5110 {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  white-space:nowrap;
}
#u5111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5112 {
  position:absolute;
  left:480px;
  top:107px;
  width:147px;
  height:25px;
}
#u5112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u5113 {
  position:absolute;
  left:605px;
  top:111px;
  width:16px;
  height:18px;
}
#u5114 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u5115 {
  position:absolute;
  left:10px;
  top:82px;
  width:208px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u5116 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u5117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5117 {
  position:absolute;
  left:10px;
  top:202px;
  width:208px;
  height:32px;
  text-align:left;
}
#u5118 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u5119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5119 {
  position:absolute;
  left:34px;
  top:124px;
  width:57px;
  height:16px;
}
#u5120 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5121 {
  position:absolute;
  left:34px;
  top:150px;
  width:57px;
  height:16px;
}
#u5122 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u5123 {
  position:absolute;
  left:201px;
  top:210px;
  width:10px;
  height:17px;
}
#u5124 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u5125 {
  position:absolute;
  left:201px;
  top:90px;
  width:10px;
  height:17px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5126 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5127 {
  position:absolute;
  left:10px;
  top:244px;
  width:208px;
  height:32px;
  text-align:left;
}
#u5128 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u5129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u5129 {
  position:absolute;
  left:201px;
  top:252px;
  width:10px;
  height:17px;
}
#u5130 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5131 {
  position:absolute;
  left:10px;
  top:286px;
  width:208px;
  height:32px;
  text-align:left;
}
#u5132 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u5133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u5133 {
  position:absolute;
  left:201px;
  top:294px;
  width:10px;
  height:17px;
}
#u5134 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5135 {
  position:absolute;
  left:34px;
  top:176px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5136 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
