body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1896px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:1040px;
}
#u271 {
  position:absolute;
  left:169px;
  top:93px;
  width:532px;
  height:1040px;
}
#u272 {
  position:absolute;
  left:2px;
  top:512px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u273 {
  position:absolute;
  left:645px;
  top:191px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u275 {
  position:absolute;
  left:286px;
  top:136px;
  width:226px;
  height:27px;
}
#u276 {
  position:absolute;
  left:2px;
  top:6px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:21px;
  background:inherit;
  background-color:rgba(35, 35, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u277 {
  position:absolute;
  left:169px;
  top:99px;
  width:532px;
  height:21px;
}
#u278 {
  position:absolute;
  left:2px;
  top:2px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:1040px;
}
#u280 {
  position:absolute;
  left:754px;
  top:93px;
  width:532px;
  height:1040px;
}
#u281 {
  position:absolute;
  left:2px;
  top:512px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u282 {
  position:absolute;
  left:1230px;
  top:191px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u283 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u284 {
  position:absolute;
  left:871px;
  top:136px;
  width:226px;
  height:27px;
}
#u285 {
  position:absolute;
  left:2px;
  top:6px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:21px;
  background:inherit;
  background-color:rgba(35, 35, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u286 {
  position:absolute;
  left:754px;
  top:99px;
  width:532px;
  height:21px;
}
#u287 {
  position:absolute;
  left:2px;
  top:2px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:903px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u288 {
  position:absolute;
  left:754px;
  top:169px;
  width:532px;
  height:903px;
  opacity:0.6;
}
#u289 {
  position:absolute;
  left:2px;
  top:444px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:26px;
  text-align:left;
}
#u290 {
  position:absolute;
  left:792px;
  top:586px;
  width:456px;
  height:69px;
  font-size:26px;
  text-align:left;
}
#u291 {
  position:absolute;
  left:2px;
  top:18px;
  width:452px;
  word-wrap:break-word;
}
#u292 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:1040px;
}
#u293 {
  position:absolute;
  left:1364px;
  top:93px;
  width:532px;
  height:1040px;
}
#u294 {
  position:absolute;
  left:2px;
  top:512px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u295 {
  position:absolute;
  left:1840px;
  top:191px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u296 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u297 {
  position:absolute;
  left:1481px;
  top:136px;
  width:226px;
  height:27px;
}
#u298 {
  position:absolute;
  left:2px;
  top:6px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:21px;
  background:inherit;
  background-color:rgba(35, 35, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u299 {
  position:absolute;
  left:1364px;
  top:99px;
  width:532px;
  height:21px;
}
#u300 {
  position:absolute;
  left:2px;
  top:2px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:903px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u301 {
  position:absolute;
  left:1364px;
  top:169px;
  width:532px;
  height:903px;
  opacity:0.6;
}
#u302 {
  position:absolute;
  left:2px;
  top:444px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:26px;
  text-align:left;
}
#u303 {
  position:absolute;
  left:1402px;
  top:586px;
  width:456px;
  height:168px;
  font-size:26px;
  text-align:left;
}
#u304 {
  position:absolute;
  left:2px;
  top:76px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u305 {
  position:absolute;
  left:1433px;
  top:614px;
  width:313px;
  height:32px;
  font-size:26px;
}
#u306 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:2px;
}
#u307 {
  position:absolute;
  left:1402px;
  top:691px;
  width:456px;
  height:1px;
}
#u308 {
  position:absolute;
  left:2px;
  top:-8px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:64px;
}
#u309 {
  position:absolute;
  left:1630px;
  top:691px;
  width:1px;
  height:63px;
}
#u310 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u311 {
  position:absolute;
  left:1481px;
  top:707px;
  width:53px;
  height:32px;
  font-size:26px;
}
#u312 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u313 {
  position:absolute;
  left:1719px;
  top:707px;
  width:53px;
  height:32px;
  font-size:26px;
}
#u314 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u315_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:83px;
  height:83px;
}
#u315 {
  position:absolute;
  left:402px;
  top:522px;
  width:73px;
  height:73px;
  opacity:0.9;
}
#u316 {
  position:absolute;
  left:2px;
  top:28px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:238px;
  height:25px;
}
#u317 {
  position:absolute;
  left:511px;
  top:580px;
  width:226px;
  height:5px;
  -webkit-transform:rotate(9deg);
  -moz-transform:rotate(9deg);
  -ms-transform:rotate(9deg);
  transform:rotate(9deg);
}
#u318 {
  position:absolute;
  left:2px;
  top:-6px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u319_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:842px;
  height:25px;
}
#u319 {
  position:absolute;
  left:658px;
  top:394px;
  width:830px;
  height:5px;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
}
#u320 {
  position:absolute;
  left:2px;
  top:-6px;
  width:826px;
  visibility:hidden;
  word-wrap:break-word;
}
