body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:1040px;
}
#u843 {
  position:absolute;
  left:100px;
  top:149px;
  width:532px;
  height:1040px;
}
#u844 {
  position:absolute;
  left:2px;
  top:512px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u845 {
  position:absolute;
  left:117px;
  top:471px;
  width:300px;
  height:36px;
}
#u846 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u847 {
  position:absolute;
  left:123px;
  top:476px;
  width:133px;
  height:26px;
  font-size:22px;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u849 {
  position:absolute;
  left:588px;
  top:474px;
  width:30px;
  height:30px;
}
#u850 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u851 {
  position:absolute;
  left:3706px;
  top:3196px;
  width:64px;
  height:64px;
}
#u852 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u853 {
  position:absolute;
  left:100px;
  top:100px;
  width:145px;
  height:22px;
  font-size:18px;
}
#u854 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:1040px;
}
#u855 {
  position:absolute;
  left:739px;
  top:149px;
  width:532px;
  height:1040px;
}
#u856 {
  position:absolute;
  left:2px;
  top:512px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u857 {
  position:absolute;
  left:756px;
  top:471px;
  width:300px;
  height:36px;
}
#u858 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u859 {
  position:absolute;
  left:762px;
  top:476px;
  width:133px;
  height:26px;
  font-size:22px;
}
#u860 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u861 {
  position:absolute;
  left:1227px;
  top:474px;
  width:30px;
  height:30px;
}
#u862 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:905px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u863 {
  position:absolute;
  left:739px;
  top:222px;
  width:532px;
  height:905px;
  opacity:0.6;
}
#u864 {
  position:absolute;
  left:2px;
  top:444px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:326px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u865 {
  position:absolute;
  left:797px;
  top:502px;
  width:416px;
  height:326px;
}
#u866 {
  position:absolute;
  left:2px;
  top:155px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u867 {
  position:absolute;
  left:853px;
  top:628px;
  width:89px;
  height:40px;
  font-size:20px;
}
#u868 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u869 {
  position:absolute;
  left:957px;
  top:628px;
  width:89px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u870 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u871 {
  position:absolute;
  left:1068px;
  top:628px;
  width:89px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u872 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u873 {
  position:absolute;
  left:853px;
  top:684px;
  width:89px;
  height:40px;
  font-size:20px;
}
#u874 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u875 {
  position:absolute;
  left:957px;
  top:684px;
  width:89px;
  height:40px;
  font-size:20px;
}
#u876 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u877 {
  position:absolute;
  left:1068px;
  top:684px;
  width:89px;
  height:40px;
  font-size:20px;
}
#u878 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u879 {
  position:absolute;
  left:935px;
  top:754px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u880 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u881 {
  position:absolute;
  left:853px;
  top:576px;
  width:89px;
  height:40px;
  font-size:20px;
}
#u882 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u883 {
  position:absolute;
  left:957px;
  top:576px;
  width:89px;
  height:40px;
  font-size:20px;
}
#u884 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u885 {
  position:absolute;
  left:1068px;
  top:576px;
  width:89px;
  height:40px;
  font-size:20px;
}
#u886 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u887 {
  position:absolute;
  left:915px;
  top:529px;
  width:181px;
  height:22px;
  font-size:18px;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u889 {
  position:absolute;
  left:739px;
  top:100px;
  width:127px;
  height:22px;
  font-size:18px;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
