body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4486px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u889 {
  position:absolute;
  left:840px;
  top:1929px;
  width:676px;
  height:380px;
}
#u890 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u891 {
  position:absolute;
  left:1601px;
  top:5055px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u893 {
  position:absolute;
  left:100px;
  top:1897px;
  width:224px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u895 {
  position:absolute;
  left:840px;
  top:1897px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u896 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u897 {
  position:absolute;
  left:1584px;
  top:1897px;
  width:217px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u899 {
  position:absolute;
  left:2332px;
  top:1897px;
  width:276px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  white-space:nowrap;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u901 {
  position:absolute;
  left:100px;
  top:5055px;
  width:152px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u902 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u903 {
  position:absolute;
  left:858px;
  top:5055px;
  width:145px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u905 {
  position:absolute;
  left:100px;
  top:5674px;
  width:188px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u906 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u907 {
  position:absolute;
  left:100px;
  top:2524px;
  width:152px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u909 {
  position:absolute;
  left:858px;
  top:2524px;
  width:163px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u910 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u911 {
  position:absolute;
  left:2332px;
  top:2524px;
  width:145px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u912 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u913 {
  position:absolute;
  left:1897px;
  top:2287px;
  width:145px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u915 {
  position:absolute;
  left:100px;
  top:710px;
  width:676px;
  height:380px;
}
#u916 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u917 {
  position:absolute;
  left:100px;
  top:673px;
  width:80px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u918 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u919 {
  position:absolute;
  left:100px;
  top:100px;
  width:52px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u920 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u921 {
  position:absolute;
  left:858px;
  top:100px;
  width:52px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u923 {
  position:absolute;
  left:877px;
  top:673px;
  width:97px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u925 {
  position:absolute;
  left:1605px;
  top:673px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u927 {
  position:absolute;
  left:2334px;
  top:673px;
  width:181px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u928 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u929 {
  position:absolute;
  left:100px;
  top:1290px;
  width:116px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u931 {
  position:absolute;
  left:815px;
  top:3779px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u933 {
  position:absolute;
  left:100px;
  top:4426px;
  width:152px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u934 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u935 {
  position:absolute;
  left:100px;
  top:6269px;
  width:152px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u936 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u937 {
  position:absolute;
  left:187px;
  top:971px;
  width:11px;
  height:11px;
}
#u938 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u939 {
  position:absolute;
  left:858px;
  top:6269px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u941 {
  position:absolute;
  left:3069px;
  top:2524px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u943 {
  position:absolute;
  left:100px;
  top:1329px;
  width:676px;
  height:380px;
}
#u944 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u945 {
  position:absolute;
  left:3069px;
  top:673px;
  width:181px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u946 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u947 {
  position:absolute;
  left:1540px;
  top:3779px;
  width:127px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u950 {
  position:absolute;
  left:1584px;
  top:1929px;
  width:676px;
  height:380px;
}
#u951 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
}
#u952 {
  position:absolute;
  left:1772px;
  top:1964px;
  width:300px;
  height:35px;
}
#u953 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:266px;
}
#u954 {
  position:absolute;
  left:1698px;
  top:2009px;
  width:452px;
  height:266px;
}
#u955 {
  position:absolute;
  left:2px;
  top:125px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u956 {
  position:absolute;
  left:1797px;
  top:1971px;
  width:250px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u958 {
  position:absolute;
  left:1704px;
  top:2018px;
  width:412px;
  height:22px;
  font-size:18px;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  white-space:nowrap;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u960 {
  position:absolute;
  left:1704px;
  top:2050px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u962 {
  position:absolute;
  left:1704px;
  top:2075px;
  width:439px;
  height:176px;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  word-wrap:break-word;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u965 {
  position:absolute;
  left:2332px;
  top:1929px;
  width:676px;
  height:380px;
}
#u966 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
}
#u967 {
  position:absolute;
  left:2520px;
  top:1964px;
  width:300px;
  height:35px;
}
#u968 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:266px;
}
#u969 {
  position:absolute;
  left:2446px;
  top:2009px;
  width:452px;
  height:266px;
}
#u970 {
  position:absolute;
  left:2px;
  top:125px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u971 {
  position:absolute;
  left:2545px;
  top:1971px;
  width:250px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:277px;
}
#u973 {
  position:absolute;
  left:2432px;
  top:2003px;
  width:477px;
  height:277px;
}
#u974 {
  position:absolute;
  left:2px;
  top:130px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:84px;
}
#u975 {
  position:absolute;
  left:1399px;
  top:2035px;
  width:11px;
  height:84px;
  opacity:0.2;
}
#u976 {
  position:absolute;
  left:2px;
  top:34px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:84px;
}
#u977 {
  position:absolute;
  left:2143px;
  top:2018px;
  width:11px;
  height:84px;
  opacity:0.2;
}
#u978 {
  position:absolute;
  left:2px;
  top:34px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:675px;
  height:380px;
}
#u979 {
  position:absolute;
  left:100px;
  top:140px;
  width:675px;
  height:380px;
}
#u980 {
  position:absolute;
  left:2px;
  top:182px;
  width:671px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:675px;
  height:380px;
}
#u981 {
  position:absolute;
  left:858px;
  top:140px;
  width:675px;
  height:380px;
}
#u982 {
  position:absolute;
  left:2px;
  top:182px;
  width:671px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u983 {
  position:absolute;
  left:877px;
  top:710px;
  width:676px;
  height:380px;
}
#u984 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u985 {
  position:absolute;
  left:1605px;
  top:710px;
  width:676px;
  height:380px;
}
#u986 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u987 {
  position:absolute;
  left:3069px;
  top:710px;
  width:676px;
  height:380px;
}
#u988 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u989 {
  position:absolute;
  left:2334px;
  top:710px;
  width:676px;
  height:380px;
}
#u990 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u991 {
  position:absolute;
  left:858px;
  top:2556px;
  width:676px;
  height:380px;
}
#u992 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u993 {
  position:absolute;
  left:100px;
  top:2556px;
  width:676px;
  height:380px;
}
#u994 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u995 {
  position:absolute;
  left:2334px;
  top:2556px;
  width:676px;
  height:380px;
}
#u996 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u997 {
  position:absolute;
  left:1601px;
  top:2556px;
  width:676px;
  height:380px;
}
#u998 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u999 {
  position:absolute;
  left:3810px;
  top:2556px;
  width:676px;
  height:380px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1001 {
  position:absolute;
  left:3069px;
  top:2556px;
  width:676px;
  height:380px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u1003 {
  position:absolute;
  left:3810px;
  top:2524px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1005 {
  position:absolute;
  left:100px;
  top:4463px;
  width:676px;
  height:380px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1007 {
  position:absolute;
  left:100px;
  top:1929px;
  width:676px;
  height:380px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1010 {
  position:absolute;
  left:100px;
  top:3828px;
  width:676px;
  height:380px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u1012 {
  position:absolute;
  left:100px;
  top:3779px;
  width:221px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1014 {
  position:absolute;
  left:815px;
  top:3828px;
  width:676px;
  height:380px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1016 {
  position:absolute;
  left:1531px;
  top:3828px;
  width:676px;
  height:380px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1019 {
  position:absolute;
  left:100px;
  top:3181px;
  width:676px;
  height:380px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u1021 {
  position:absolute;
  left:100px;
  top:3137px;
  width:234px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1023 {
  position:absolute;
  left:1601px;
  top:5092px;
  width:676px;
  height:380px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1025 {
  position:absolute;
  left:100px;
  top:5092px;
  width:676px;
  height:380px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1027 {
  position:absolute;
  left:864px;
  top:5092px;
  width:676px;
  height:380px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1029 {
  position:absolute;
  left:100px;
  top:5737px;
  width:676px;
  height:380px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1031 {
  position:absolute;
  left:858px;
  top:6307px;
  width:676px;
  height:380px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1033 {
  position:absolute;
  left:100px;
  top:6307px;
  width:676px;
  height:380px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1035 {
  position:absolute;
  left:100px;
  top:6913px;
  width:676px;
  height:380px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u1037 {
  position:absolute;
  left:100px;
  top:6870px;
  width:98px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u1039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u1039 {
  position:absolute;
  left:1601px;
  top:2524px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u1040 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:37px;
}
#u1042 {
  position:absolute;
  left:1337px;
  top:882px;
  width:38px;
  height:37px;
  color:#FFFFFF;
}
#u1043 {
  position:absolute;
  left:-6px;
  top:10px;
  width:49px;
  visibility:hidden;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:25px 8.5px;
  -ms-transform-origin:25px 8.5px;
  -moz-transform-origin:25px 8.5px;
  -webkit-transform-origin:25px 8.5px;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1044 {
  position:absolute;
  left:1344px;
  top:887px;
  width:13px;
  height:15px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-size:12px;
  color:#FFFFFF;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1046 {
  position:absolute;
  left:644px;
  top:4557px;
  width:14px;
  height:14px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1048 {
  position:absolute;
  left:651px;
  top:5310px;
  width:14px;
  height:14px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
