body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1308px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6927 {
  position:absolute;
  left:259px;
  top:200px;
  width:1015px;
  height:335px;
}
#u6928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u6928 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u6929 {
  position:absolute;
  left:2px;
  top:7px;
  width:190px;
  word-wrap:break-word;
}
#u6930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u6930 {
  position:absolute;
  left:194px;
  top:0px;
  width:115px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u6931 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u6932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u6932 {
  position:absolute;
  left:309px;
  top:0px;
  width:172px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u6933 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u6934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u6934 {
  position:absolute;
  left:481px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u6935 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u6936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u6936 {
  position:absolute;
  left:674px;
  top:0px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u6937 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u6938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u6938 {
  position:absolute;
  left:825px;
  top:0px;
  width:185px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u6939 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u6940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u6940 {
  position:absolute;
  left:0px;
  top:30px;
  width:194px;
  height:30px;
}
#u6941 {
  position:absolute;
  left:2px;
  top:7px;
  width:190px;
  word-wrap:break-word;
}
#u6942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u6942 {
  position:absolute;
  left:194px;
  top:30px;
  width:115px;
  height:30px;
}
#u6943 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u6944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u6944 {
  position:absolute;
  left:309px;
  top:30px;
  width:172px;
  height:30px;
}
#u6945 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u6946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u6946 {
  position:absolute;
  left:481px;
  top:30px;
  width:193px;
  height:30px;
}
#u6947 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u6948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u6948 {
  position:absolute;
  left:674px;
  top:30px;
  width:151px;
  height:30px;
}
#u6949 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u6950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u6950 {
  position:absolute;
  left:825px;
  top:30px;
  width:185px;
  height:30px;
}
#u6951 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u6952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u6952 {
  position:absolute;
  left:0px;
  top:60px;
  width:194px;
  height:30px;
}
#u6953 {
  position:absolute;
  left:2px;
  top:7px;
  width:190px;
  word-wrap:break-word;
}
#u6954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u6954 {
  position:absolute;
  left:194px;
  top:60px;
  width:115px;
  height:30px;
}
#u6955 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u6956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u6956 {
  position:absolute;
  left:309px;
  top:60px;
  width:172px;
  height:30px;
}
#u6957 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u6958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u6958 {
  position:absolute;
  left:481px;
  top:60px;
  width:193px;
  height:30px;
}
#u6959 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u6960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u6960 {
  position:absolute;
  left:674px;
  top:60px;
  width:151px;
  height:30px;
}
#u6961 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u6962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u6962 {
  position:absolute;
  left:825px;
  top:60px;
  width:185px;
  height:30px;
}
#u6963 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u6964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u6964 {
  position:absolute;
  left:0px;
  top:90px;
  width:194px;
  height:30px;
}
#u6965 {
  position:absolute;
  left:2px;
  top:7px;
  width:190px;
  word-wrap:break-word;
}
#u6966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u6966 {
  position:absolute;
  left:194px;
  top:90px;
  width:115px;
  height:30px;
}
#u6967 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u6968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u6968 {
  position:absolute;
  left:309px;
  top:90px;
  width:172px;
  height:30px;
}
#u6969 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u6970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u6970 {
  position:absolute;
  left:481px;
  top:90px;
  width:193px;
  height:30px;
}
#u6971 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u6972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u6972 {
  position:absolute;
  left:674px;
  top:90px;
  width:151px;
  height:30px;
}
#u6973 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u6974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u6974 {
  position:absolute;
  left:825px;
  top:90px;
  width:185px;
  height:30px;
}
#u6975 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u6976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u6976 {
  position:absolute;
  left:0px;
  top:120px;
  width:194px;
  height:30px;
}
#u6977 {
  position:absolute;
  left:2px;
  top:7px;
  width:190px;
  word-wrap:break-word;
}
#u6978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u6978 {
  position:absolute;
  left:194px;
  top:120px;
  width:115px;
  height:30px;
}
#u6979 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u6980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u6980 {
  position:absolute;
  left:309px;
  top:120px;
  width:172px;
  height:30px;
}
#u6981 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u6982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u6982 {
  position:absolute;
  left:481px;
  top:120px;
  width:193px;
  height:30px;
}
#u6983 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u6984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u6984 {
  position:absolute;
  left:674px;
  top:120px;
  width:151px;
  height:30px;
}
#u6985 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u6986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u6986 {
  position:absolute;
  left:825px;
  top:120px;
  width:185px;
  height:30px;
}
#u6987 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u6988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u6988 {
  position:absolute;
  left:0px;
  top:150px;
  width:194px;
  height:30px;
}
#u6989 {
  position:absolute;
  left:2px;
  top:7px;
  width:190px;
  word-wrap:break-word;
}
#u6990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u6990 {
  position:absolute;
  left:194px;
  top:150px;
  width:115px;
  height:30px;
}
#u6991 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u6992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u6992 {
  position:absolute;
  left:309px;
  top:150px;
  width:172px;
  height:30px;
}
#u6993 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u6994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u6994 {
  position:absolute;
  left:481px;
  top:150px;
  width:193px;
  height:30px;
}
#u6995 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u6996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u6996 {
  position:absolute;
  left:674px;
  top:150px;
  width:151px;
  height:30px;
}
#u6997 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u6998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u6998 {
  position:absolute;
  left:825px;
  top:150px;
  width:185px;
  height:30px;
}
#u6999 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u7000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u7000 {
  position:absolute;
  left:0px;
  top:180px;
  width:194px;
  height:30px;
}
#u7001 {
  position:absolute;
  left:2px;
  top:7px;
  width:190px;
  word-wrap:break-word;
}
#u7002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7002 {
  position:absolute;
  left:194px;
  top:180px;
  width:115px;
  height:30px;
}
#u7003 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u7004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u7004 {
  position:absolute;
  left:309px;
  top:180px;
  width:172px;
  height:30px;
}
#u7005 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u7006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u7006 {
  position:absolute;
  left:481px;
  top:180px;
  width:193px;
  height:30px;
}
#u7007 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u7008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u7008 {
  position:absolute;
  left:674px;
  top:180px;
  width:151px;
  height:30px;
}
#u7009 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u7010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u7010 {
  position:absolute;
  left:825px;
  top:180px;
  width:185px;
  height:30px;
}
#u7011 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u7012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u7012 {
  position:absolute;
  left:0px;
  top:210px;
  width:194px;
  height:30px;
}
#u7013 {
  position:absolute;
  left:2px;
  top:7px;
  width:190px;
  word-wrap:break-word;
}
#u7014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7014 {
  position:absolute;
  left:194px;
  top:210px;
  width:115px;
  height:30px;
}
#u7015 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u7016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u7016 {
  position:absolute;
  left:309px;
  top:210px;
  width:172px;
  height:30px;
}
#u7017 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u7018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u7018 {
  position:absolute;
  left:481px;
  top:210px;
  width:193px;
  height:30px;
}
#u7019 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u7020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u7020 {
  position:absolute;
  left:674px;
  top:210px;
  width:151px;
  height:30px;
}
#u7021 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u7022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u7022 {
  position:absolute;
  left:825px;
  top:210px;
  width:185px;
  height:30px;
}
#u7023 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u7024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u7024 {
  position:absolute;
  left:0px;
  top:240px;
  width:194px;
  height:30px;
}
#u7025 {
  position:absolute;
  left:2px;
  top:7px;
  width:190px;
  word-wrap:break-word;
}
#u7026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7026 {
  position:absolute;
  left:194px;
  top:240px;
  width:115px;
  height:30px;
}
#u7027 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u7028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u7028 {
  position:absolute;
  left:309px;
  top:240px;
  width:172px;
  height:30px;
}
#u7029 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u7030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u7030 {
  position:absolute;
  left:481px;
  top:240px;
  width:193px;
  height:30px;
}
#u7031 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u7032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u7032 {
  position:absolute;
  left:674px;
  top:240px;
  width:151px;
  height:30px;
}
#u7033 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u7034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u7034 {
  position:absolute;
  left:825px;
  top:240px;
  width:185px;
  height:30px;
}
#u7035 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u7036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u7036 {
  position:absolute;
  left:0px;
  top:270px;
  width:194px;
  height:30px;
}
#u7037 {
  position:absolute;
  left:2px;
  top:7px;
  width:190px;
  word-wrap:break-word;
}
#u7038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7038 {
  position:absolute;
  left:194px;
  top:270px;
  width:115px;
  height:30px;
}
#u7039 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u7040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u7040 {
  position:absolute;
  left:309px;
  top:270px;
  width:172px;
  height:30px;
}
#u7041 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u7042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u7042 {
  position:absolute;
  left:481px;
  top:270px;
  width:193px;
  height:30px;
}
#u7043 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u7044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u7044 {
  position:absolute;
  left:674px;
  top:270px;
  width:151px;
  height:30px;
}
#u7045 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u7046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u7046 {
  position:absolute;
  left:825px;
  top:270px;
  width:185px;
  height:30px;
}
#u7047 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u7048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u7048 {
  position:absolute;
  left:0px;
  top:300px;
  width:194px;
  height:30px;
}
#u7049 {
  position:absolute;
  left:2px;
  top:7px;
  width:190px;
  word-wrap:break-word;
}
#u7050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7050 {
  position:absolute;
  left:194px;
  top:300px;
  width:115px;
  height:30px;
}
#u7051 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u7052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u7052 {
  position:absolute;
  left:309px;
  top:300px;
  width:172px;
  height:30px;
}
#u7053 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u7054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u7054 {
  position:absolute;
  left:481px;
  top:300px;
  width:193px;
  height:30px;
}
#u7055 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u7056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u7056 {
  position:absolute;
  left:674px;
  top:300px;
  width:151px;
  height:30px;
}
#u7057 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u7058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u7058 {
  position:absolute;
  left:825px;
  top:300px;
  width:185px;
  height:30px;
}
#u7059 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u7060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7060 {
  position:absolute;
  left:414px;
  top:553px;
  width:75px;
  height:25px;
}
#u7061 {
  position:absolute;
  left:0px;
  top:4px;
  width:75px;
  white-space:nowrap;
}
#u7062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7062 {
  position:absolute;
  left:506px;
  top:553px;
  width:57px;
  height:25px;
}
#u7063 {
  position:absolute;
  left:0px;
  top:4px;
  width:57px;
  white-space:nowrap;
}
#u7064 {
  position:absolute;
  left:567px;
  top:553px;
  width:38px;
  height:25px;
}
#u7064_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7065 {
  position:absolute;
  left:615px;
  top:553px;
  width:43px;
  height:25px;
}
#u7066 {
  position:absolute;
  left:0px;
  top:4px;
  width:43px;
  white-space:nowrap;
}
#u7067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7067 {
  position:absolute;
  left:675px;
  top:553px;
  width:38px;
  height:25px;
  font-size:14px;
}
#u7068 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  word-wrap:break-word;
}
#u7069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7069 {
  position:absolute;
  left:723px;
  top:553px;
  width:38px;
  height:25px;
  font-size:14px;
}
#u7070 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  word-wrap:break-word;
}
#u7071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7071 {
  position:absolute;
  left:771px;
  top:553px;
  width:38px;
  height:25px;
  font-size:14px;
}
#u7072 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  word-wrap:break-word;
}
#u7073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7073 {
  position:absolute;
  left:819px;
  top:553px;
  width:38px;
  height:25px;
  font-size:14px;
}
#u7074 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  word-wrap:break-word;
}
#u7075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7075 {
  position:absolute;
  left:927px;
  top:553px;
  width:57px;
  height:25px;
}
#u7076 {
  position:absolute;
  left:0px;
  top:4px;
  width:57px;
  white-space:nowrap;
}
#u7077 {
  position:absolute;
  left:989px;
  top:553px;
  width:38px;
  height:25px;
}
#u7077_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7078 {
  position:absolute;
  left:1031px;
  top:553px;
  width:15px;
  height:25px;
}
#u7079 {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  white-space:nowrap;
}
#u7080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7080 {
  position:absolute;
  left:1099px;
  top:553px;
  width:101px;
  height:25px;
}
#u7081 {
  position:absolute;
  left:0px;
  top:4px;
  width:101px;
  white-space:nowrap;
}
#u7082 {
  position:absolute;
  left:803px;
  top:157px;
  width:91px;
  height:25px;
}
#u7082_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u7082_input:disabled {
  color:grayText;
}
#u7083 {
  position:absolute;
  left:894px;
  top:157px;
  width:189px;
  height:25px;
}
#u7083_input {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7084 {
  position:absolute;
  left:1093px;
  top:157px;
  width:57px;
  height:25px;
  font-size:14px;
}
#u7085 {
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  word-wrap:break-word;
}
#u7086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7086 {
  position:absolute;
  left:867px;
  top:553px;
  width:50px;
  height:25px;
}
#u7087 {
  position:absolute;
  left:0px;
  top:4px;
  width:50px;
  white-space:nowrap;
}
#u7088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7088 {
  position:absolute;
  left:259px;
  top:157px;
  width:29px;
  height:25px;
}
#u7089 {
  position:absolute;
  left:0px;
  top:4px;
  width:29px;
  white-space:nowrap;
}
#u7090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7091 {
  position:absolute;
  left:298px;
  top:157px;
  width:147px;
  height:25px;
}
#u7091_input {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u7092 {
  position:absolute;
  left:423px;
  top:161px;
  width:16px;
  height:18px;
}
#u7093 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7094 {
  position:absolute;
  left:455px;
  top:157px;
  width:15px;
  height:25px;
}
#u7095 {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  white-space:nowrap;
}
#u7096 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7097 {
  position:absolute;
  left:480px;
  top:157px;
  width:147px;
  height:25px;
}
#u7097_input {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u7098 {
  position:absolute;
  left:605px;
  top:161px;
  width:16px;
  height:18px;
}
#u7099 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:949px;
}
#u7101 {
  position:absolute;
  left:228px;
  top:71px;
  width:1px;
  height:948px;
}
#u7102 {
  position:absolute;
  left:2px;
  top:466px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7104 {
  position:absolute;
  left:250px;
  top:20px;
  width:68px;
  height:38px;
}
#u7105 {
  position:absolute;
  left:2px;
  top:11px;
  width:64px;
  word-wrap:break-word;
}
#u7106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7106 {
  position:absolute;
  left:327px;
  top:20px;
  width:68px;
  height:38px;
}
#u7107 {
  position:absolute;
  left:2px;
  top:11px;
  width:64px;
  word-wrap:break-word;
}
#u7108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7108 {
  position:absolute;
  left:403px;
  top:20px;
  width:68px;
  height:38px;
}
#u7109 {
  position:absolute;
  left:2px;
  top:11px;
  width:64px;
  word-wrap:break-word;
}
#u7110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7110 {
  position:absolute;
  left:556px;
  top:20px;
  width:90px;
  height:38px;
}
#u7111 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u7112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7112 {
  position:absolute;
  left:1095px;
  top:20px;
  width:140px;
  height:38px;
}
#u7113 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u7114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7114 {
  position:absolute;
  left:1245px;
  top:20px;
  width:53px;
  height:38px;
}
#u7115 {
  position:absolute;
  left:2px;
  top:11px;
  width:49px;
  word-wrap:break-word;
}
#u7116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FF0000;
}
#u7116 {
  position:absolute;
  left:18px;
  top:20px;
  width:211px;
  height:38px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FF0000;
}
#u7117 {
  position:absolute;
  left:0px;
  top:4px;
  width:211px;
  word-wrap:break-word;
}
#u7118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7118 {
  position:absolute;
  left:655px;
  top:20px;
  width:68px;
  height:38px;
}
#u7119 {
  position:absolute;
  left:2px;
  top:11px;
  width:64px;
  word-wrap:break-word;
}
#u7120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1309px;
  height:2px;
}
#u7120 {
  position:absolute;
  left:0px;
  top:71px;
  width:1308px;
  height:1px;
}
#u7121 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7122 {
  position:absolute;
  left:732px;
  top:20px;
  width:68px;
  height:38px;
}
#u7123 {
  position:absolute;
  left:2px;
  top:11px;
  width:64px;
  word-wrap:break-word;
}
#u7124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7124 {
  position:absolute;
  left:808px;
  top:20px;
  width:68px;
  height:38px;
}
#u7125 {
  position:absolute;
  left:2px;
  top:11px;
  width:64px;
  word-wrap:break-word;
}
#u7126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7126 {
  position:absolute;
  left:480px;
  top:20px;
  width:68px;
  height:38px;
}
#u7127 {
  position:absolute;
  left:2px;
  top:11px;
  width:64px;
  word-wrap:break-word;
}
#u7128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7128 {
  position:absolute;
  left:885px;
  top:20px;
  width:68px;
  height:38px;
}
#u7129 {
  position:absolute;
  left:2px;
  top:11px;
  width:64px;
  word-wrap:break-word;
}
#u7130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u7130 {
  position:absolute;
  left:10px;
  top:82px;
  width:208px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u7131 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u7132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7132 {
  position:absolute;
  left:10px;
  top:213px;
  width:208px;
  height:32px;
  text-align:left;
}
#u7133 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u7134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7134 {
  position:absolute;
  left:34px;
  top:124px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7135 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u7136 {
  position:absolute;
  left:201px;
  top:221px;
  width:10px;
  height:17px;
}
#u7137 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u7138 {
  position:absolute;
  left:201px;
  top:90px;
  width:10px;
  height:17px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7139 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7140 {
  position:absolute;
  left:10px;
  top:255px;
  width:208px;
  height:32px;
  text-align:left;
}
#u7141 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u7142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7142 {
  position:absolute;
  left:10px;
  top:297px;
  width:208px;
  height:32px;
  text-align:left;
}
#u7143 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u7144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u7144 {
  position:absolute;
  left:201px;
  top:263px;
  width:10px;
  height:17px;
}
#u7145 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u7146 {
  position:absolute;
  left:201px;
  top:305px;
  width:10px;
  height:17px;
}
#u7147 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7148 {
  position:absolute;
  left:34px;
  top:150px;
  width:113px;
  height:16px;
}
#u7149 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7150 {
  position:absolute;
  left:34px;
  top:176px;
  width:113px;
  height:16px;
}
#u7151 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7152 {
  position:absolute;
  left:660px;
  top:157px;
  width:101px;
  height:25px;
}
#u7152_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u7152_input:disabled {
  color:grayText;
}
#u7153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7153 {
  position:absolute;
  left:259px;
  top:104px;
  width:161px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7154 {
  position:absolute;
  left:0px;
  top:2px;
  width:161px;
  white-space:nowrap;
}
