body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:723px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:1040px;
}
#u256 {
  position:absolute;
  left:191px;
  top:137px;
  width:532px;
  height:1040px;
}
#u257 {
  position:absolute;
  left:2px;
  top:512px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
