body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:789px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u0 {
  position:absolute;
  left:100px;
  top:181px;
  width:380px;
  height:676px;
}
#u1 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:106px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2 {
  position:absolute;
  left:108px;
  top:892px;
  width:365px;
  height:106px;
}
#u3 {
  position:absolute;
  left:10px;
  top:10px;
  width:345px;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:82px;
  height:25px;
}
#u4 {
  position:absolute;
  left:473px;
  top:525px;
  width:70px;
  height:5px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:553px;
  top:520px;
  width:236px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:82px;
  height:25px;
}
#u8 {
  position:absolute;
  left:449px;
  top:611px;
  width:70px;
  height:5px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:529px;
  top:606px;
  width:236px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:82px;
  height:25px;
}
#u12 {
  position:absolute;
  left:432px;
  top:788px;
  width:70px;
  height:5px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:512px;
  top:723px;
  width:202px;
  height:80px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:82px;
  height:25px;
}
#u16 {
  position:absolute;
  left:432px;
  top:832px;
  width:70px;
  height:5px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:512px;
  top:832px;
  width:202px;
  height:48px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:100px;
  top:100px;
  width:514px;
  height:71px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  word-wrap:break-word;
}
