body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1827px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:1040px;
}
#u1016 {
  position:absolute;
  left:100px;
  top:100px;
  width:532px;
  height:1040px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:512px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1018 {
  position:absolute;
  left:576px;
  top:198px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1020 {
  position:absolute;
  left:217px;
  top:143px;
  width:226px;
  height:27px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:6px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:21px;
  background:inherit;
  background-color:rgba(35, 35, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  position:absolute;
  left:100px;
  top:106px;
  width:532px;
  height:21px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:2px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:1040px;
}
#u1025 {
  position:absolute;
  left:685px;
  top:100px;
  width:532px;
  height:1040px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:512px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1027 {
  position:absolute;
  left:1161px;
  top:198px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u1028 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1029 {
  position:absolute;
  left:802px;
  top:143px;
  width:226px;
  height:27px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:6px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:21px;
  background:inherit;
  background-color:rgba(35, 35, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1031 {
  position:absolute;
  left:685px;
  top:106px;
  width:532px;
  height:21px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:2px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:903px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1033 {
  position:absolute;
  left:685px;
  top:176px;
  width:532px;
  height:903px;
  opacity:0.6;
}
#u1034 {
  position:absolute;
  left:2px;
  top:444px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:26px;
  text-align:left;
}
#u1035 {
  position:absolute;
  left:723px;
  top:593px;
  width:456px;
  height:69px;
  font-size:26px;
  text-align:left;
}
#u1036 {
  position:absolute;
  left:2px;
  top:18px;
  width:452px;
  word-wrap:break-word;
}
#u1037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:1040px;
}
#u1038 {
  position:absolute;
  left:1295px;
  top:100px;
  width:532px;
  height:1040px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:512px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1040 {
  position:absolute;
  left:1771px;
  top:198px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1042 {
  position:absolute;
  left:1412px;
  top:143px;
  width:226px;
  height:27px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:6px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:21px;
  background:inherit;
  background-color:rgba(35, 35, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1044 {
  position:absolute;
  left:1295px;
  top:106px;
  width:532px;
  height:21px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:2px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:903px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1046 {
  position:absolute;
  left:1295px;
  top:176px;
  width:532px;
  height:903px;
  opacity:0.6;
}
#u1047 {
  position:absolute;
  left:2px;
  top:444px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:26px;
  text-align:left;
}
#u1048 {
  position:absolute;
  left:1333px;
  top:593px;
  width:456px;
  height:168px;
  font-size:26px;
  text-align:left;
}
#u1049 {
  position:absolute;
  left:2px;
  top:76px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u1050 {
  position:absolute;
  left:1364px;
  top:621px;
  width:313px;
  height:32px;
  font-size:26px;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:2px;
}
#u1052 {
  position:absolute;
  left:1333px;
  top:698px;
  width:456px;
  height:1px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:-8px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:64px;
}
#u1054 {
  position:absolute;
  left:1561px;
  top:698px;
  width:1px;
  height:63px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u1056 {
  position:absolute;
  left:1412px;
  top:714px;
  width:53px;
  height:32px;
  font-size:26px;
}
#u1057 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u1058 {
  position:absolute;
  left:1650px;
  top:714px;
  width:53px;
  height:32px;
  font-size:26px;
}
#u1059 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1060_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:83px;
  height:83px;
}
#u1060 {
  position:absolute;
  left:333px;
  top:529px;
  width:73px;
  height:73px;
  opacity:0.9;
}
#u1061 {
  position:absolute;
  left:2px;
  top:28px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:238px;
  height:25px;
}
#u1062 {
  position:absolute;
  left:442px;
  top:587px;
  width:226px;
  height:5px;
  -webkit-transform:rotate(9deg);
  -moz-transform:rotate(9deg);
  -ms-transform:rotate(9deg);
  transform:rotate(9deg);
}
#u1063 {
  position:absolute;
  left:2px;
  top:-6px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:842px;
  height:25px;
}
#u1064 {
  position:absolute;
  left:589px;
  top:401px;
  width:830px;
  height:5px;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
}
#u1065 {
  position:absolute;
  left:2px;
  top:-6px;
  width:826px;
  visibility:hidden;
  word-wrap:break-word;
}
