body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:5206px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u959 {
  position:absolute;
  left:1573px;
  top:80px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u961 {
  position:absolute;
  left:100px;
  top:80px;
  width:188px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u963 {
  position:absolute;
  left:834px;
  top:80px;
  width:127px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u965 {
  position:absolute;
  left:834px;
  top:124px;
  width:676px;
  height:380px;
}
#u966 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u967 {
  position:absolute;
  left:1573px;
  top:124px;
  width:676px;
  height:380px;
}
#u968 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u969 {
  position:absolute;
  left:100px;
  top:124px;
  width:676px;
  height:380px;
}
#u970 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u971 {
  position:absolute;
  left:2315px;
  top:92px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u974 {
  position:absolute;
  left:2315px;
  top:124px;
  width:676px;
  height:380px;
}
#u975 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:34px;
}
#u976 {
  position:absolute;
  left:2517px;
  top:288px;
  width:273px;
  height:34px;
}
#u977 {
  position:absolute;
  left:2px;
  top:9px;
  width:269px;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:45px;
}
#u978 {
  position:absolute;
  left:2519px;
  top:344px;
  width:273px;
  height:45px;
}
#u979 {
  position:absolute;
  left:2px;
  top:14px;
  width:269px;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u980 {
  position:absolute;
  left:3052px;
  top:92px;
  width:145px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u982 {
  position:absolute;
  left:3789px;
  top:92px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u984 {
  position:absolute;
  left:3054px;
  top:124px;
  width:676px;
  height:380px;
}
#u985 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u986 {
  position:absolute;
  left:4530px;
  top:124px;
  width:676px;
  height:380px;
}
#u987 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u988 {
  position:absolute;
  left:3789px;
  top:124px;
  width:676px;
  height:380px;
}
#u989 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u990 {
  position:absolute;
  left:4530px;
  top:92px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
