body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:5206px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u1352 {
  position:absolute;
  left:1573px;
  top:80px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u1353 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u1354 {
  position:absolute;
  left:100px;
  top:80px;
  width:188px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u1355 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u1356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u1356 {
  position:absolute;
  left:834px;
  top:80px;
  width:127px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u1357 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1358 {
  position:absolute;
  left:834px;
  top:124px;
  width:676px;
  height:380px;
}
#u1359 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1360 {
  position:absolute;
  left:1573px;
  top:124px;
  width:676px;
  height:380px;
}
#u1361 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1362 {
  position:absolute;
  left:100px;
  top:124px;
  width:676px;
  height:380px;
}
#u1363 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u1364 {
  position:absolute;
  left:2315px;
  top:92px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u1365 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1366 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1367 {
  position:absolute;
  left:2315px;
  top:124px;
  width:676px;
  height:380px;
}
#u1368 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:34px;
}
#u1369 {
  position:absolute;
  left:2517px;
  top:288px;
  width:273px;
  height:34px;
}
#u1370 {
  position:absolute;
  left:2px;
  top:9px;
  width:269px;
  word-wrap:break-word;
}
#u1371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:45px;
}
#u1371 {
  position:absolute;
  left:2519px;
  top:344px;
  width:273px;
  height:45px;
}
#u1372 {
  position:absolute;
  left:2px;
  top:14px;
  width:269px;
  word-wrap:break-word;
}
#u1373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u1373 {
  position:absolute;
  left:3052px;
  top:92px;
  width:145px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u1374 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u1375 {
  position:absolute;
  left:3789px;
  top:92px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u1376 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1377 {
  position:absolute;
  left:3054px;
  top:124px;
  width:676px;
  height:380px;
}
#u1378 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1379 {
  position:absolute;
  left:4530px;
  top:124px;
  width:676px;
  height:380px;
}
#u1380 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1381 {
  position:absolute;
  left:3789px;
  top:124px;
  width:676px;
  height:380px;
}
#u1382 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u1383 {
  position:absolute;
  left:4530px;
  top:92px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u1384 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
