body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:5206px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u1050 {
  position:absolute;
  left:1573px;
  top:80px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u1052 {
  position:absolute;
  left:100px;
  top:80px;
  width:188px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u1054 {
  position:absolute;
  left:834px;
  top:80px;
  width:127px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1056 {
  position:absolute;
  left:834px;
  top:124px;
  width:676px;
  height:380px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1058 {
  position:absolute;
  left:1573px;
  top:124px;
  width:676px;
  height:380px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1060 {
  position:absolute;
  left:100px;
  top:124px;
  width:676px;
  height:380px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u1062 {
  position:absolute;
  left:2315px;
  top:92px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u1063 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1064 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1065 {
  position:absolute;
  left:2315px;
  top:124px;
  width:676px;
  height:380px;
}
#u1066 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:34px;
}
#u1067 {
  position:absolute;
  left:2517px;
  top:288px;
  width:273px;
  height:34px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:9px;
  width:269px;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:45px;
}
#u1069 {
  position:absolute;
  left:2519px;
  top:344px;
  width:273px;
  height:45px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:14px;
  width:269px;
  word-wrap:break-word;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u1071 {
  position:absolute;
  left:3052px;
  top:92px;
  width:145px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u1072 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u1073 {
  position:absolute;
  left:3789px;
  top:92px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u1074 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1075 {
  position:absolute;
  left:3054px;
  top:124px;
  width:676px;
  height:380px;
}
#u1076 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1077 {
  position:absolute;
  left:4530px;
  top:124px;
  width:676px;
  height:380px;
}
#u1078 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:380px;
}
#u1079 {
  position:absolute;
  left:3789px;
  top:124px;
  width:676px;
  height:380px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:182px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u1081 {
  position:absolute;
  left:4530px;
  top:92px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u1082 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
