body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:949px;
}
#u5962 {
  position:absolute;
  left:228px;
  top:73px;
  width:1px;
  height:948px;
}
#u5963 {
  position:absolute;
  left:2px;
  top:466px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5965 {
  position:absolute;
  left:320px;
  top:20px;
  width:70px;
  height:38px;
}
#u5966 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u5967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5967 {
  position:absolute;
  left:410px;
  top:20px;
  width:70px;
  height:38px;
}
#u5968 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u5969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5969 {
  position:absolute;
  left:679px;
  top:20px;
  width:70px;
  height:38px;
}
#u5970 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u5971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5971 {
  position:absolute;
  left:769px;
  top:20px;
  width:70px;
  height:38px;
}
#u5972 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u5973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5973 {
  position:absolute;
  left:1087px;
  top:20px;
  width:140px;
  height:38px;
}
#u5974 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u5975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5975 {
  position:absolute;
  left:1237px;
  top:20px;
  width:53px;
  height:38px;
}
#u5976 {
  position:absolute;
  left:2px;
  top:11px;
  width:49px;
  word-wrap:break-word;
}
#u5977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#008000;
}
#u5977 {
  position:absolute;
  left:18px;
  top:20px;
  width:211px;
  height:38px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#008000;
}
#u5978 {
  position:absolute;
  left:0px;
  top:4px;
  width:211px;
  word-wrap:break-word;
}
#u5979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:2px;
}
#u5979 {
  position:absolute;
  left:0px;
  top:71px;
  width:1290px;
  height:1px;
}
#u5980 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5981 {
  position:absolute;
  left:859px;
  top:20px;
  width:70px;
  height:38px;
}
#u5982 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u5983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5983 {
  position:absolute;
  left:230px;
  top:20px;
  width:70px;
  height:38px;
}
#u5984 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u5985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5985 {
  position:absolute;
  left:500px;
  top:20px;
  width:70px;
  height:38px;
}
#u5986 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u5987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5987 {
  position:absolute;
  left:590px;
  top:20px;
  width:70px;
  height:38px;
}
#u5988 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u5989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u5989 {
  position:absolute;
  left:10px;
  top:82px;
  width:208px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u5990 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u5991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5991 {
  position:absolute;
  left:34px;
  top:124px;
  width:57px;
  height:16px;
}
#u5992 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u5993 {
  position:absolute;
  left:201px;
  top:90px;
  width:10px;
  height:17px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5994 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u5995 {
  position:absolute;
  left:276px;
  top:145px;
  width:91px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u5996 {
  position:absolute;
  left:0px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u5997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5997 {
  position:absolute;
  left:276px;
  top:98px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5998 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5999 {
  position:absolute;
  left:377px;
  top:145px;
  width:144px;
  height:30px;
}
#u6000 {
  position:absolute;
  left:0px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u6001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6001 {
  position:absolute;
  left:276px;
  top:242px;
  width:91px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6002 {
  position:absolute;
  left:0px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u6003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6003 {
  position:absolute;
  left:377px;
  top:242px;
  width:144px;
  height:30px;
}
#u6004 {
  position:absolute;
  left:0px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u6005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6005 {
  position:absolute;
  left:276px;
  top:282px;
  width:91px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6006 {
  position:absolute;
  left:0px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u6007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6007 {
  position:absolute;
  left:377px;
  top:282px;
  width:144px;
  height:30px;
}
#u6008 {
  position:absolute;
  left:0px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u6009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6009 {
  position:absolute;
  left:276px;
  top:398px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6010 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6011 {
  position:absolute;
  left:276px;
  top:322px;
  width:91px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6012 {
  position:absolute;
  left:0px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u6013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6013 {
  position:absolute;
  left:377px;
  top:322px;
  width:144px;
  height:30px;
}
#u6014 {
  position:absolute;
  left:0px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u6015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6015 {
  position:absolute;
  left:276px;
  top:175px;
  width:91px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6016 {
  position:absolute;
  left:0px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u6017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6017 {
  position:absolute;
  left:377px;
  top:175px;
  width:144px;
  height:30px;
}
#u6018 {
  position:absolute;
  left:0px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u6019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6019 {
  position:absolute;
  left:276px;
  top:439px;
  width:91px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6020 {
  position:absolute;
  left:0px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u6021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6021 {
  position:absolute;
  left:377px;
  top:439px;
  width:144px;
  height:30px;
}
#u6022 {
  position:absolute;
  left:0px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u6023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6023 {
  position:absolute;
  left:276px;
  top:479px;
  width:91px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6024 {
  position:absolute;
  left:0px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u6025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:94px;
}
#u6025 {
  position:absolute;
  left:377px;
  top:479px;
  width:173px;
  height:94px;
}
#u6026 {
  position:absolute;
  left:2px;
  top:39px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6027 {
  position:absolute;
  left:276px;
  top:606px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6028 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6029 {
  position:absolute;
  left:282px;
  top:643px;
  width:91px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6030 {
  position:absolute;
  left:0px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u6031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6031 {
  position:absolute;
  left:383px;
  top:643px;
  width:144px;
  height:30px;
}
#u6032 {
  position:absolute;
  left:0px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u6033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6033 {
  position:absolute;
  left:282px;
  top:683px;
  width:91px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6034 {
  position:absolute;
  left:0px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u6035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6035 {
  position:absolute;
  left:392px;
  top:683px;
  width:204px;
  height:30px;
}
#u6036 {
  position:absolute;
  left:0px;
  top:7px;
  width:204px;
  word-wrap:break-word;
}
#u6037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6037 {
  position:absolute;
  left:282px;
  top:732px;
  width:91px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6038 {
  position:absolute;
  left:0px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u6039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6039 {
  position:absolute;
  left:392px;
  top:732px;
  width:204px;
  height:30px;
}
#u6040 {
  position:absolute;
  left:0px;
  top:7px;
  width:204px;
  word-wrap:break-word;
}
#u6041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6041 {
  position:absolute;
  left:282px;
  top:772px;
  width:91px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6042 {
  position:absolute;
  left:0px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u6043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6043 {
  position:absolute;
  left:392px;
  top:772px;
  width:204px;
  height:30px;
}
#u6044 {
  position:absolute;
  left:0px;
  top:7px;
  width:204px;
  word-wrap:break-word;
}
#u6045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6045 {
  position:absolute;
  left:276px;
  top:205px;
  width:91px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6046 {
  position:absolute;
  left:0px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u6047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6047 {
  position:absolute;
  left:377px;
  top:205px;
  width:144px;
  height:30px;
}
#u6048 {
  position:absolute;
  left:0px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
