body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:949px;
}
#u4833 {
  position:absolute;
  left:228px;
  top:73px;
  width:1px;
  height:948px;
}
#u4834 {
  position:absolute;
  left:2px;
  top:466px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4836 {
  position:absolute;
  left:320px;
  top:20px;
  width:70px;
  height:38px;
}
#u4837 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u4838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4838 {
  position:absolute;
  left:410px;
  top:20px;
  width:70px;
  height:38px;
}
#u4839 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u4840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4840 {
  position:absolute;
  left:679px;
  top:20px;
  width:70px;
  height:38px;
}
#u4841 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u4842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4842 {
  position:absolute;
  left:769px;
  top:20px;
  width:70px;
  height:38px;
}
#u4843 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u4844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4844 {
  position:absolute;
  left:1087px;
  top:20px;
  width:140px;
  height:38px;
}
#u4845 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u4846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4846 {
  position:absolute;
  left:1237px;
  top:20px;
  width:53px;
  height:38px;
}
#u4847 {
  position:absolute;
  left:2px;
  top:11px;
  width:49px;
  word-wrap:break-word;
}
#u4848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#008000;
}
#u4848 {
  position:absolute;
  left:18px;
  top:20px;
  width:211px;
  height:38px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#008000;
}
#u4849 {
  position:absolute;
  left:0px;
  top:4px;
  width:211px;
  word-wrap:break-word;
}
#u4850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:2px;
}
#u4850 {
  position:absolute;
  left:0px;
  top:71px;
  width:1290px;
  height:1px;
}
#u4851 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4852 {
  position:absolute;
  left:859px;
  top:20px;
  width:70px;
  height:38px;
}
#u4853 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u4854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4854 {
  position:absolute;
  left:230px;
  top:20px;
  width:70px;
  height:38px;
}
#u4855 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u4856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4856 {
  position:absolute;
  left:500px;
  top:20px;
  width:70px;
  height:38px;
}
#u4857 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u4858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4858 {
  position:absolute;
  left:590px;
  top:20px;
  width:70px;
  height:38px;
}
#u4859 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u4860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4860 {
  position:absolute;
  left:10px;
  top:82px;
  width:208px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4861 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u4862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4862 {
  position:absolute;
  left:10px;
  top:202px;
  width:208px;
  height:32px;
  text-align:left;
}
#u4863 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u4864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4864 {
  position:absolute;
  left:34px;
  top:124px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4865 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4866 {
  position:absolute;
  left:34px;
  top:150px;
  width:57px;
  height:16px;
}
#u4867 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u4868 {
  position:absolute;
  left:201px;
  top:210px;
  width:10px;
  height:17px;
}
#u4869 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u4870 {
  position:absolute;
  left:201px;
  top:90px;
  width:10px;
  height:17px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4871 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4872 {
  position:absolute;
  left:10px;
  top:244px;
  width:208px;
  height:32px;
  text-align:left;
}
#u4873 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u4874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u4874 {
  position:absolute;
  left:201px;
  top:252px;
  width:10px;
  height:17px;
}
#u4875 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4876 {
  position:absolute;
  left:10px;
  top:286px;
  width:208px;
  height:32px;
  text-align:left;
}
#u4877 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u4878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u4878 {
  position:absolute;
  left:201px;
  top:294px;
  width:10px;
  height:17px;
}
#u4879 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4880 {
  position:absolute;
  left:34px;
  top:176px;
  width:57px;
  height:16px;
}
#u4881 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4882 {
  position:absolute;
  left:267px;
  top:108px;
  width:175px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4883 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u4884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4884 {
  position:absolute;
  left:267px;
  top:176px;
  width:57px;
  height:25px;
}
#u4885 {
  position:absolute;
  left:0px;
  top:4px;
  width:57px;
  white-space:nowrap;
}
#u4886 {
  position:absolute;
  left:334px;
  top:176px;
  width:184px;
  height:25px;
}
#u4886_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4887 {
  position:absolute;
  left:267px;
  top:228px;
  width:57px;
  height:25px;
}
#u4888 {
  position:absolute;
  left:0px;
  top:4px;
  width:57px;
  white-space:nowrap;
}
#u4889 {
  position:absolute;
  left:343px;
  top:233px;
  width:100px;
  height:16px;
}
#u4890 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4889_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4891 {
  position:absolute;
  left:453px;
  top:237px;
  width:100px;
  height:16px;
}
#u4892 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4891_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4893 {
  position:absolute;
  left:553px;
  top:237px;
  width:100px;
  height:16px;
}
#u4894 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4893_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4895 {
  position:absolute;
  left:267px;
  top:273px;
  width:113px;
  height:25px;
}
#u4896 {
  position:absolute;
  left:0px;
  top:4px;
  width:113px;
  white-space:nowrap;
}
#u4897 {
  position:absolute;
  left:267px;
  top:330px;
  width:367px;
  height:25px;
}
#u4897_input {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4898 {
  position:absolute;
  left:525px;
  top:181px;
  width:29px;
  height:16px;
}
#u4899 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4900 {
  position:absolute;
  left:267px;
  top:402px;
  width:509px;
  height:25px;
}
#u4901 {
  position:absolute;
  left:0px;
  top:4px;
  width:509px;
  white-space:nowrap;
}
#u4902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:663px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4903 {
  position:absolute;
  left:418px;
  top:94px;
  width:764px;
  height:663px;
}
#u4904 {
  position:absolute;
  left:2px;
  top:324px;
  width:760px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4906 {
  position:absolute;
  left:599px;
  top:230px;
  width:103px;
  height:72px;
}
#u4907 {
  position:absolute;
  left:2px;
  top:28px;
  width:99px;
  word-wrap:break-word;
}
#u4908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:72px;
}
#u4908 {
  position:absolute;
  left:686px;
  top:406px;
  width:184px;
  height:72px;
}
#u4909 {
  position:absolute;
  left:2px;
  top:28px;
  width:180px;
  word-wrap:break-word;
}
#u4910 {
  position:absolute;
  left:651px;
  top:302px;
  width:0px;
  height:0px;
}
#u4910_seg0 {
  position:absolute;
  left:-4px;
  top:-1px;
  width:8px;
  height:44px;
}
#u4910_seg1 {
  position:absolute;
  left:-4px;
  top:36px;
  width:135px;
  height:8px;
}
#u4910_seg2 {
  position:absolute;
  left:123px;
  top:36px;
  width:8px;
  height:68px;
}
#u4910_seg3 {
  position:absolute;
  left:107px;
  top:77px;
  width:40px;
  height:41px;
}
#u4911 {
  position:absolute;
  left:26px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4912 {
  position:absolute;
  left:586px;
  top:587px;
  width:130px;
  height:66px;
}
#u4913 {
  position:absolute;
  left:2px;
  top:25px;
  width:126px;
  word-wrap:break-word;
}
#u4914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4914 {
  position:absolute;
  left:783px;
  top:587px;
  width:132px;
  height:66px;
}
#u4915 {
  position:absolute;
  left:2px;
  top:25px;
  width:128px;
  word-wrap:break-word;
}
#u4916 {
  position:absolute;
  left:778px;
  top:478px;
  width:0px;
  height:0px;
}
#u4916_seg0 {
  position:absolute;
  left:-4px;
  top:-1px;
  width:8px;
  height:88px;
}
#u4916_seg1 {
  position:absolute;
  left:-4px;
  top:80px;
  width:79px;
  height:8px;
}
#u4916_seg2 {
  position:absolute;
  left:67px;
  top:80px;
  width:8px;
  height:29px;
}
#u4916_seg3 {
  position:absolute;
  left:51px;
  top:82px;
  width:40px;
  height:41px;
}
#u4917 {
  position:absolute;
  left:-44px;
  top:76px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4918 {
  position:absolute;
  left:901px;
  top:159px;
  width:103px;
  height:72px;
}
#u4919 {
  position:absolute;
  left:2px;
  top:28px;
  width:99px;
  word-wrap:break-word;
}
#u4920 {
  position:absolute;
  left:953px;
  top:231px;
  width:0px;
  height:0px;
}
#u4920_seg0 {
  position:absolute;
  left:-4px;
  top:-1px;
  width:8px;
  height:133px;
}
#u4920_seg1 {
  position:absolute;
  left:-179px;
  top:125px;
  width:183px;
  height:8px;
}
#u4920_seg2 {
  position:absolute;
  left:-179px;
  top:125px;
  width:8px;
  height:50px;
}
#u4920_seg3 {
  position:absolute;
  left:-195px;
  top:148px;
  width:40px;
  height:41px;
}
#u4921 {
  position:absolute;
  left:-96px;
  top:120px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4922 {
  position:absolute;
  left:959px;
  top:587px;
  width:160px;
  height:66px;
}
#u4923 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u4924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4924 {
  position:absolute;
  left:854px;
  top:341px;
  width:63px;
  height:16px;
}
#u4925 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u4926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4926 {
  position:absolute;
  left:680px;
  top:324px;
  width:63px;
  height:16px;
}
#u4927 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u4928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4928 {
  position:absolute;
  left:638px;
  top:513px;
  width:113px;
  height:16px;
}
#u4929 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4930 {
  position:absolute;
  left:778px;
  top:478px;
  width:0px;
  height:0px;
}
#u4930_seg0 {
  position:absolute;
  left:-4px;
  top:-1px;
  width:8px;
  height:57px;
}
#u4930_seg1 {
  position:absolute;
  left:-131px;
  top:49px;
  width:135px;
  height:8px;
}
#u4930_seg2 {
  position:absolute;
  left:-131px;
  top:49px;
  width:8px;
  height:60px;
}
#u4930_seg3 {
  position:absolute;
  left:-147px;
  top:82px;
  width:40px;
  height:41px;
}
#u4931 {
  position:absolute;
  left:-115px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4932 {
  position:absolute;
  left:792px;
  top:541px;
  width:113px;
  height:16px;
}
#u4933 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4934 {
  position:absolute;
  left:967px;
  top:482px;
  width:49px;
  height:16px;
}
#u4935 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4936 {
  position:absolute;
  left:530px;
  top:159px;
  width:103px;
  height:36px;
}
#u4937 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u4938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4938 {
  position:absolute;
  left:656px;
  top:159px;
  width:103px;
  height:36px;
}
#u4939 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u4940 {
  position:absolute;
  left:582px;
  top:195px;
  width:0px;
  height:0px;
}
#u4940_seg0 {
  position:absolute;
  left:-4px;
  top:-1px;
  width:8px;
  height:13px;
}
#u4940_seg1 {
  position:absolute;
  left:-4px;
  top:5px;
  width:77px;
  height:8px;
}
#u4940_seg2 {
  position:absolute;
  left:65px;
  top:5px;
  width:8px;
  height:30px;
}
#u4940_seg3 {
  position:absolute;
  left:49px;
  top:8px;
  width:40px;
  height:41px;
}
#u4941 {
  position:absolute;
  left:-7px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4942 {
  position:absolute;
  left:708px;
  top:195px;
  width:0px;
  height:0px;
}
#u4942_seg0 {
  position:absolute;
  left:-4px;
  top:-1px;
  width:8px;
  height:14px;
}
#u4942_seg1 {
  position:absolute;
  left:-61px;
  top:6px;
  width:65px;
  height:8px;
}
#u4942_seg2 {
  position:absolute;
  left:-61px;
  top:6px;
  width:8px;
  height:29px;
}
#u4942_seg3 {
  position:absolute;
  left:-77px;
  top:8px;
  width:40px;
  height:41px;
}
#u4943 {
  position:absolute;
  left:-86px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4944 {
  position:absolute;
  left:778px;
  top:478px;
  width:0px;
  height:0px;
}
#u4944_seg0 {
  position:absolute;
  left:-4px;
  top:-1px;
  width:8px;
  height:26px;
}
#u4944_seg1 {
  position:absolute;
  left:-4px;
  top:18px;
  width:269px;
  height:8px;
}
#u4944_seg2 {
  position:absolute;
  left:257px;
  top:18px;
  width:8px;
  height:91px;
}
#u4944_seg3 {
  position:absolute;
  left:241px;
  top:82px;
  width:40px;
  height:41px;
}
#u4945 {
  position:absolute;
  left:113px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4946 {
  position:absolute;
  left:806px;
  top:704px;
  width:75px;
  height:25px;
  font-size:14px;
}
#u4947 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u4948 {
  position:absolute;
  left:719px;
  top:709px;
  width:77px;
  height:16px;
}
#u4949 {
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u4948_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4950 {
  position:absolute;
  left:439px;
  top:106px;
  width:85px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4951 {
  position:absolute;
  left:0px;
  top:4px;
  width:85px;
  white-space:nowrap;
}
