body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#008000;
}
#u202 {
  position:absolute;
  left:465px;
  top:129px;
  width:275px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#008000;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u204 {
  position:absolute;
  left:523px;
  top:292px;
  width:158px;
  height:25px;
}
#u204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u205 {
  position:absolute;
  left:411px;
  top:292px;
  width:83px;
  height:25px;
  text-align:right;
}
#u206 {
  position:absolute;
  left:0px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u207 {
  position:absolute;
  left:691px;
  top:292px;
  width:79px;
  height:25px;
  font-size:14px;
}
#u208 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:523px;
  top:327px;
  width:247px;
  height:25px;
}
#u209_input {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u210 {
  position:absolute;
  left:411px;
  top:327px;
  width:83px;
  height:25px;
  text-align:right;
}
#u211 {
  position:absolute;
  left:0px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:523px;
  top:362px;
  width:247px;
  height:25px;
}
#u212_input {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u213 {
  position:absolute;
  left:411px;
  top:362px;
  width:83px;
  height:25px;
  text-align:right;
}
#u214 {
  position:absolute;
  left:0px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:523px;
  top:397px;
  width:247px;
  height:25px;
}
#u215_input {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u216 {
  position:absolute;
  left:411px;
  top:397px;
  width:83px;
  height:25px;
  text-align:right;
}
#u217 {
  position:absolute;
  left:0px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u218 {
  position:absolute;
  left:523px;
  top:449px;
  width:242px;
  height:25px;
}
#u219 {
  position:absolute;
  left:2px;
  top:4px;
  width:238px;
  word-wrap:break-word;
}
