body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1711px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u34 {
  position:absolute;
  left:100px;
  top:181px;
  width:380px;
  height:676px;
}
#u35 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u36 {
  position:absolute;
  left:592px;
  top:181px;
  width:380px;
  height:676px;
}
#u37 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u38 {
  position:absolute;
  left:1331px;
  top:181px;
  width:380px;
  height:676px;
}
#u39 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:100px;
  top:100px;
  width:514px;
  height:71px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u42 {
  position:absolute;
  left:402px;
  top:222px;
  width:23px;
  height:21px;
  text-align:left;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u44 {
  position:absolute;
  left:145px;
  top:223px;
  width:4px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  white-space:nowrap;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u46 {
  position:absolute;
  left:691px;
  top:223px;
  width:4px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  white-space:nowrap;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48 {
  position:absolute;
  left:1430px;
  top:223px;
  width:4px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  white-space:nowrap;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:301px;
}
#u50 {
  position:absolute;
  left:1331px;
  top:781px;
  width:380px;
  height:301px;
}
#u51 {
  position:absolute;
  left:2px;
  top:142px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:125px;
  height:25px;
}
#u52 {
  position:absolute;
  left:907px;
  top:234px;
  width:113px;
  height:5px;
}
#u53 {
  position:absolute;
  left:2px;
  top:-6px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  position:absolute;
  left:1030px;
  top:229px;
  width:183px;
  height:32px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u56_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:125px;
  height:25px;
}
#u56 {
  position:absolute;
  left:939px;
  top:426px;
  width:113px;
  height:5px;
}
#u57 {
  position:absolute;
  left:2px;
  top:-6px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58 {
  position:absolute;
  left:1062px;
  top:413px;
  width:253px;
  height:32px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u60_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:125px;
  height:25px;
}
#u60 {
  position:absolute;
  left:939px;
  top:457px;
  width:113px;
  height:5px;
}
#u61 {
  position:absolute;
  left:2px;
  top:-6px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  position:absolute;
  left:1062px;
  top:455px;
  width:225px;
  height:32px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u64_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:125px;
  height:25px;
}
#u64 {
  position:absolute;
  left:939px;
  top:505px;
  width:113px;
  height:5px;
}
#u65 {
  position:absolute;
  left:2px;
  top:-6px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66 {
  position:absolute;
  left:1062px;
  top:503px;
  width:247px;
  height:32px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u68_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:125px;
  height:25px;
}
#u68 {
  position:absolute;
  left:939px;
  top:542px;
  width:113px;
  height:5px;
}
#u69 {
  position:absolute;
  left:2px;
  top:-6px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  position:absolute;
  left:1062px;
  top:545px;
  width:127px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u72_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:125px;
  height:25px;
}
#u72 {
  position:absolute;
  left:950px;
  top:664px;
  width:113px;
  height:5px;
}
#u73 {
  position:absolute;
  left:2px;
  top:-6px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  position:absolute;
  left:1073px;
  top:667px;
  width:85px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
